// @import (reference) '../../style/themes/index';

.custom-form-horizontal {
  .custom-form-item-label {
    flex-grow: 0;
  }
  .custom-form-item-control {
    flex: 1 1 0;
    min-width: 0;
  }
  .custom-form-item-label[class$='-24'] + .custom-form-item-control,
  .custom-form-item-label[class*='-24 '] + .custom-form-item-control {
    min-width: unset;
  }
}
