.cell {
  position: relative;
  padding: var(--rs-space-3);
  display: flex;
  align-items: center;
  gap: var(--rs-space-3);
  font-weight: var(--rs-font-weight-regular);
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
}

.cell[data-highlighted],
.cell[data-popup-open] {
  outline: none;
  cursor: pointer;
  font-weight: var(--rs-font-weight-regular);
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
  border-radius: var(--rs-radius-2);
  background: var(--rs-color-background-base-primary-hover);
}

.cell[aria-disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.leadingIcon {
  display: flex;
  align-items: center;
  color: var(--rs-color-foreground-base-secondary);
}

.trailingIcon {
  display: flex;
  align-items: center;
  color: var(--rs-color-foreground-base-secondary);
  margin-left: auto;
}

.indicator {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: var(--rs-space-5);
  height: var(--rs-space-5);
  color: var(--rs-color-foreground-base-primary);
}

.indicator[data-unchecked] > * {
  visibility: hidden;
}

.radioDot {
  width: var(--rs-space-3);
  height: var(--rs-space-3);
  border-radius: var(--rs-radius-full);
  background-color: currentColor;
}

a.cell {
  color: inherit;
  text-decoration: none;
}
