.side-panel {
  width: 400px;
  background: var(--rs-color-background-base-primary);
  overflow: scroll;
}

.side-panel-left {
  border-right: 0.5px solid var(--rs-color-border-base-primary);
}

.side-panel-right {
  border-left: 0.5px solid var(--rs-color-border-base-primary);
}

.side-panel-header {
  border-right: 0.5px solid var(--rs-color-border-base-primary);
}

.side-panel-header {
  padding: var(--rs-space-5);
  display: flex;
  flex-direction: column;
  gap: var(--rs-space-4);
  border-bottom: 0.5px solid var(--rs-color-border-base-primary);
  background: var(--rs-color-background-base-primary);
}

.side-panel-section {
  padding: var(--rs-space-5);
  border-bottom: 0.5px solid var(--rs-color-border-base-primary);
  background: var(--rs-color-background-base-primary);
}
