.slider {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 80px;
  height: var(--rs-space-8);
  touch-action: none;
  user-select: none;
  padding: 0;
}

.track {
  position: relative;
  flex-grow: 1;
  height: var(--rs-space-1);
  background-color: var(--rs-color-background-neutral-secondary);
  border-radius: var(--rs-radius-full);
  margin: 0 12px;
}

.range {
  position: absolute;
  height: 100%;
  background-color: var(--rs-color-background-accent-emphasis);
  border-radius: var(--rs-radius-full);
}

.thumb {
  position: absolute;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transform: translate(-50%, -50%);
  top: 50%;
}

.thumb:active {
  cursor: grabbing;
  outline: none;
}

.thumb:focus-visible {
  outline: none;
}

.thumb svg {
  width: 24px;
  height: 24px;
  fill: var(--rs-color-background-base-primary);
}

.thumb:hover svg {
  fill: var(--rs-color-background-base-secondary);
}

.thumb:hover {
  border-color: var(--rs-color-border-accent-emphasis-hover);
}

.label {
  position: absolute;
  top: calc(-1 * var(--rs-space-7));
  left: 50%;
  padding: var(--rs-space-1) var(--rs-space-2);
  color: var(--rs-color-text-base-primary);
  background-color: var(--rs-color-background-base-primary);
  border: 0.5px solid var(--rs-color-border-base-primary);
  border-radius: var(--rs-radius-2);
  font-size: 11px;
  transform: translateX(-50%);
  white-space: nowrap;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.slider-variant-single .range {
  left: 0;
}
