.slider {
  position: relative;
  width: 100%;
  min-width: 80px;
  height: var(--rs-space-8);
  padding: var(--rs-space-4) 0;
  touch-action: none;
}

.track {
  position: relative;
  height: var(--rs-space-1);
  width: 100%;
  background-color: var(--rs-color-background-neutral-secondary);
  border-radius: var(--rs-radius-full);
  cursor: pointer;
}

.range {
  position: absolute;
  height: 100%;
  background-color: var(--rs-color-background-accent-emphasis);
  border-radius: var(--rs-radius-full);
}

.thumb {
  position: absolute;
  top: 50%;
  width: var(--rs-space-4);
  height: var(--rs-space-4);
  background-color: var(--rs-color-background-base-primary);
  border: 2px solid var(--rs-color-border-accent-emphasis);
  border-radius: var(--rs-radius-full);
  transform: translate(-50%, -50%);
  cursor: grab;
  transition: border-color 0.2s;
}

.thumb:hover {
  border-color: var(--rs-color-border-accent-emphasis-hover);
}

.thumb:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--rs-color-border-base-focus);
}

.thumb:active {
  cursor: grabbing;
}

.label {
  position: absolute;
  top: calc(-1 * var(--rs-space-6));
  left: 50%;
  padding: var(--rs-space-1) var(--rs-space-2);
  color: var(--rs-color-text-base-emphasis);
  background-color: var(--rs-color-background-accent-emphasis);
  border-radius: var(--rs-radius-1);
  font-size: 11px;
  font-family: var(--rs-font-body);
  transform: translateX(-50%);
  white-space: nowrap;
}
