.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container input {
  padding: 0 var(--rs-space-3);
}

.clearButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clearButton {
  color: var(--rs-color-foreground-base-tertiary);
}

.clearButton:hover {
  color: var(--rs-color-foreground-base-secondary);
}

.clearButton:disabled {
  opacity: 0.5;
}

.clearButton svg {
  width: var(--rs-space-4);
  height: var(--rs-space-4);
}
