.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container input {
  padding: 0 var(--rs-space-3);
}

.clearButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clearButton {
  color: var(--rs-color-foreground-base-tertiary) !important;
}

.clearButton:hover {
  color: var(--rs-color-foreground-base-secondary) !important;
}

.clearButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.clearButton svg {
  width: 12px;
  height: 12px;
}
