.content {
  overflow: hidden;
  z-index: var(--rs-z-index-portal);
  font-weight: var(--rs-font-weight-regular);
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
  box-sizing: border-box;
  min-width: 80px;

  padding: var(--rs-space-2);
  background-color: var(--rs-color-background-base-primary);
  border-radius: var(--rs-radius-2);
  box-shadow: var(--rs-shadow-lifted);
  border: 1px solid var(--rs-color-border-base-primary);
  color: var(--rs-color-foreground-base-primary);
  min-width: var(--popover-anchor-width);
}
.content:focus,
.content:focus-visible {
  outline: none;
}

.comboboxContainer {
  padding: 0;
}

.comboboxContent {
  padding: var(--rs-space-2);
}

.comboboxContent:empty {
  padding: 0;
}

.comboboxInput {
  width: 100%;
  background: transparent;
  color: var(--rs-color-foreground-base-primary);
  padding: var(--rs-space-3) var(--rs-space-4);
  font-weight: var(--rs-font-weight-regular);
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
  border-bottom: 0.5px solid var(--rs-color-border-base-primary);
}

.comboboxContainer:has(.comboboxContent:empty) .comboboxInput {
  border-bottom: none;
}

.comboboxInput:focus {
  outline: none;
}

.label {
  padding: var(--rs-space-2) var(--rs-space-3);
  font-weight: var(--rs-font-weight-medium);
  font-size: var(--rs-font-size-mini);
}

.separator {
  height: 1px;
  margin: var(--rs-space-2) calc(var(--rs-space-3) * -1);
  background: var(--rs-color-border-base-primary);
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--rs-space-4);
  text-align: center;
}

.leadingIcon {
  display: flex;
  align-items: center;
  color: var(--rs-color-foreground-base-secondary);
}

.trailingIcon {
  display: flex;
  align-items: center;
  color: var(--rs-color-foreground-base-secondary);
  margin-left: auto;
}
