.container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.accentButton {
  width: 20px;
  height: 20px;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
}

.active {
  outline: 1.5px solid hsl(var(--fd-muted-foreground) / 1);
  outline-offset: 2px;
}

.indigo {
  background-color: #3e63dd;
}

.mint {
  background-color: #86ead4;
}

.orange {
  background-color: #f76b15;
}
