.root {
  display: flex;
  width: 100%;
  padding: var(--rs-space-4) var(--rs-space-6);
  background: var(--rs-color-background-base-primary);
  border-bottom: 0.5px solid var(--rs-color-border-base-primary);
  box-shadow: var(--rs-shadow-feather);
  box-sizing: border-box;
  min-height: 48px;
}

.root[data-sticky="true"] {
  position: sticky;
  top: 0;
  z-index: var(--rs-z-index-portal);
}

.container {
  width: 100%;
  align-items: center;
}

.start {
  flex: 0 0 auto;
}

.end {
  flex: 0 0 auto;
  margin-left: auto;
}
