.root {
  display: flex;
  width: 100%;
  padding: var(--rs-space-4) var(--rs-space-7);
  background: var(--rs-color-background-base-primary);
  border-bottom: 0.5px solid var(--rs-color-border-base-primary);
  box-sizing: border-box;
  min-height: var(--rs-space-11);
  transition: transform 0.2s ease-in-out;
}

.root[data-shadow="true"] {
  box-shadow: var(--rs-shadow-feather);
}

.root[data-sticky="true"] {
  position: sticky;
  top: 0;
  z-index: var(--rs-z-index-portal);
}

.root[data-hidden="true"] {
  transform: translateY(-100%);
}

.container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  width: 100%;
  align-items: center;
  gap: 0;
}

.start {
  grid-column: 1;
  justify-self: start;
}

.center {
  grid-column: 2;
  justify-self: center;
}

.end {
  grid-column: 3;
  justify-self: end;
}