.grid {
  box-sizing: border-box;
  display: grid;
}

.align-start {
  align-items: start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.align-stretch {
  align-items: stretch;
}

.align-baseline {
  align-items: baseline;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}

.flow-row {
  flex-direction: row;
}

.flow-column {
  flex-direction: column;
}

.flow-dense {
  flex-direction: dense;
}

.flow-rowDense {
  flex-direction: row dense;
}

.flow-columnDense {
  flex-direction: column dense;
}


.columns-1{
  flex-wrap: repeat(1, 1fr);
}

.columns-2{
  flex-wrap: repeat(2, 1fr);
}

.columns-3{
  flex-wrap: repeat(3, 1fr);
}
.columns-4{
  flex-wrap: repeat(4, 1fr);
}

.gap-xs {
  gap: 4px;
}

.gap-sm {
  gap: 8px;
}

.gap-md {
  gap: 16px;
}

.gap-lg {
  gap: 32px;
}

.gap-xl {
  gap: 48px;
}

.gapX-xs {
  column-gap: 4px;
}

.gapX-sm {
  column-gap: 8px;
}

.gapX-md {
  column-gap: 16px;
}

.gapX-lg {
  column-gap: 32px;
}

.gapX-xl {
  column-gap: 48px;
}

.gapY-xs {
  row-gap: 4px;
}

.gapY-sm {
  row-gap: 8px;
}

.gapY-md {
  row-gap: 16px;
}

.gapY-lg {
  row-gap: 32px;
}

.gapY-xl {
  row-gap: 48px;
}