.popover {
  z-index: 80;
  outline: 0;
  overflow: hidden;
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
  font-family: var(--rs-font-body);

  box-sizing: border-box;
  min-width: 120px;
  max-width: 18rem;

  padding: var(--rs-space-3);
  background-color: var(--rs-color-background-base-primary);
  border-radius: var(--rs-radius-2);
  box-shadow: var(--rs-shadow-soft);
  border: 1px solid var(--rs-color-border-base-primary);
  color: var(--rs-color-foreground-base-primary);
  animation: slideUpAndFade 400ms cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
