.gap-1 { gap: var(--rs-space-1); }
.gap-2 { gap: var(--rs-space-2); }
.gap-3 { gap: var(--rs-space-3); }
.gap-4 { gap: var(--rs-space-4); }
.gap-5 { gap: var(--rs-space-5); }
.gap-6 { gap: var(--rs-space-6); }
.gap-7 { gap: var(--rs-space-7); }
.gap-8 { gap: var(--rs-space-8); }
.gap-9 { gap: var(--rs-space-9); }
.gap-10 { gap: var(--rs-space-10); }
.gap-11 { gap: var(--rs-space-11); }
.gap-12 { gap: var(--rs-space-12); }
.gap-13 { gap: var(--rs-space-13); }
.gap-14 { gap: var(--rs-space-14); }
.gap-15 { gap: var(--rs-space-15); }
.gap-16 { gap: var(--rs-space-16); }
.gap-17 { gap: var(--rs-space-17); }

.column-gap-1 { column-gap: var(--rs-space-1); }
.column-gap-2 { column-gap: var(--rs-space-2); }
.column-gap-3 { column-gap: var(--rs-space-3); }
.column-gap-4 { column-gap: var(--rs-space-4); }
.column-gap-5 { column-gap: var(--rs-space-5); }
.column-gap-6 { column-gap: var(--rs-space-6); }
.column-gap-7 { column-gap: var(--rs-space-7); }
.column-gap-8 { column-gap: var(--rs-space-8); }
.column-gap-9 { column-gap: var(--rs-space-9); }
.column-gap-10 { column-gap: var(--rs-space-10); }
.column-gap-11 { column-gap: var(--rs-space-11); }
.column-gap-12 { column-gap: var(--rs-space-12); }
.column-gap-13 { column-gap: var(--rs-space-13); }
.column-gap-14 { column-gap: var(--rs-space-14); }
.column-gap-15 { column-gap: var(--rs-space-15); }
.column-gap-16 { column-gap: var(--rs-space-16); }
.column-gap-17 { column-gap: var(--rs-space-17); }

.row-gap-1 { row-gap: var(--rs-space-1); }
.row-gap-2 { row-gap: var(--rs-space-2); }
.row-gap-3 { row-gap: var(--rs-space-3); }
.row-gap-4 { row-gap: var(--rs-space-4); }
.row-gap-5 { row-gap: var(--rs-space-5); }
.row-gap-6 { row-gap: var(--rs-space-6); }
.row-gap-7 { row-gap: var(--rs-space-7); }
.row-gap-8 { row-gap: var(--rs-space-8); }
.row-gap-9 { row-gap: var(--rs-space-9); }
.row-gap-10 { row-gap: var(--rs-space-10); }
.row-gap-11 { row-gap: var(--rs-space-11); }
.row-gap-12 { row-gap: var(--rs-space-12); }
.row-gap-13 { row-gap: var(--rs-space-13); }
.row-gap-14 { row-gap: var(--rs-space-14); }
.row-gap-15 { row-gap: var(--rs-space-15); }
.row-gap-16 { row-gap: var(--rs-space-16); }
.row-gap-17 { row-gap: var(--rs-space-17); }
