.content {
  width: 100%;
  max-width: 1080px;
  margin: 16px auto;
  padding: 0 32px;
}

.content > :last-child {
  margin-bottom: 100px;
}

.badge {
  background-color: var(--rs-accent-9); 
  color: var(--rs-accent-contrast);
  padding: 0 var(--rs-space-2);
  margin-left: var(--rs-space-2);
  border-radius: var(--rs-radius-2);
  font-size: 0.55em;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}

.to-be-deleted {
  background-color: var(--rs-color-background-danger-emphasis); 
  color: var(--rs-accent-contrast);
  padding: 0 var(--rs-space-2);
  margin-left: var(--rs-space-2);
  border-radius: var(--rs-radius-2);
  font-size: 0.55em;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}