.sidebar {
  padding: 0;
  border-right-width: 0.5px !important;
}
.header {
  height: 50px;
  padding: 0 var(--rs-space-5);
  border-bottom: 0.5px solid var(--rs-color-border-base-primary);
  border-radius: 0;
  margin-bottom: 0;
}
.main {
  padding: var(--rs-space-5);
  gap: var(--rs-space-5);
}
.main a {
  transition: none;
}
.items {
  gap: 0;
}
.label {
  color: var(--rs-color-foreground-base-tertiary);
}
.itemText {
  overflow: visible;
}
.indicator {
  width: 5px;
  height: 5px;
  background-color: var(--rs-color-background-accent-emphasis);
  border-radius: var(--rs-radius-full);
}
