.code-block-content {
  border-radius: var(--rs-radius-2);
  border: 1px solid var(--rs-color-border-base-primary);
  background: var(--rs-color-background-base-secondary);
}
.code-block-content-code {
  padding-left: var(--rs-space-3);
}
.code-block-content-copy-btn-fix {
  top: var(--rs-space-4);
}
.code-inline {
  border-radius: var(--rs-radius-2);
  border: 1px solid var(--rs-color-border-base-primary);
  padding: var(--rs-space-1) var(--rs-space-2);
  background: var(--rs-color-background-base-secondary);
  font-family: var(--rs-font-mono);
  font-size: var(--rs-font-size-mono-small);
  letter-spacing: var(--rs-letter-spacing-mono-small);
  line-height: var(--rs-line-height-mono-small);
  color: var(--rs-color-foreground-base-primary);
}

.prose-h1,
.prose-h2 {
  margin-top: var(--rs-space-11);
}
.prose-h3 {
  margin-top: var(--rs-space-9);
}
.prose-h4 {
  margin-top: var(--rs-space-7);
}
.prose-h5 {
  margin-top: var(--rs-space-5);
}
.prose-h6 {
  margin-top: var(--rs-space-4);
}

.prose-code,
.prose-type-table,
:global(.prose) [data-demo] {
  margin-top: var(--rs-space-4);
}

:global(.prose) ul,
:global(.prose) ol {
  padding-left: var(--rs-space-5);
  margin: 0;
}

:global(.prose) ul li,
:global(.prose) ol li {
  margin-bottom: var(--rs-space-3);
}
:global(.prose) ul li:first-child,
:global(.prose) ol li:first-child {
  margin-top: var(--rs-space-3);
}
