.root {
  display: inline-flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  gap: var(--rs-space-3);
  padding: var(--rs-space-4) var(--rs-space-5);
  background: var(--rs-color-background-base-primary);
  border-radius: var(--rs-radius-2);
  box-shadow: var(--rs-shadow-lifted);
}

.separator.separator {
  height: var(--rs-space-5);
}
