.link {
  flex-shrink: 0;
  outline: 0;
  cursor: pointer;
  text-decoration-line: none;
  text-underline-offset: 3px;
  color: var(--clr-fg-base);
}

.link:hover {
  text-decoration-color: none;
  text-decoration-line: trasparent;
}

.link:focus {
  outline: 0;
  text-decoration-line: none;
  text-decoration-color: trasparent;
}

.link-small {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.5px;  
}
.link-medium {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;  
}
.link-large {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;  
}