.button {
  font-family: var(--rs-font-body);
  font-weight: var(--rs-font-weight-medium);
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  width: fit-content;
  padding: var(--rs-space-3) var(--rs-space-4);
  border-radius: var(--rs-radius-2);
  text-wrap: nowrap;
}

.button:before,
.button:after {
  box-sizing: border-box;
}

.button:disabled,
.button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button:disabled:hover,
.button-disabled:hover {
  color: inherit;
}

.button-small {
  padding: var(--rs-space-2) var(--rs-space-3);
  font-size: var(--rs-font-size-mini);
  line-height: var(--rs-line-height-mini);
  letter-spacing: var(--rs-letter-spacing-mini);
}

.button-normal {
  padding: var(--rs-space-3) var(--rs-space-4);
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
}

.button-solid {
  color: var(--rs-color-foreground-accent-emphasis);
  background-color: var(--rs-color-background-accent-emphasis);
}

.button-solid:hover,
.button-solid:active,
.button-solid[data-radix-popover-trigger][data-state="open"],
.button-solid[data-radix-dropdown-menu-trigger][data-state="open"] {
  background-color: var(--rs-color-background-accent-emphasis-hover);
}

.button-solid.button-disabled:hover,
.button-solid.button-disabled:active,
.button-solid[data-radix-popover-trigger][data-state="open"],
.button-solid.button-disabled[data-radix-dropdown-menu-trigger][data-state="open"] {
  color: var(--rs-color-foreground-accent-emphasis);
  background-color: var(--rs-color-background-accent-emphasis);
}

.button-solid.button-loading:hover,
.button-solid.button-loading:active,
.button-solid.button-loading[data-radix-popover-trigger][data-state="open"],
.button-solid.button-loading[data-radix-dropdown-menu-trigger][data-state="open"] {
  background-color: var(--rs-color-background-accent-emphasis);
}

.button-outline {
  background-color: var(--rs-color-background-base-primary);
  color: var(--rs-color-foreground-accent-primary);
  border: 1px solid var(--rs-color-border-accent-emphasis);
}

.button-outline:hover {
  background-color: var(--rs-color-background-accent-primary);
  border-color: var(--rs-color-border-accent-emphasis);
}

.button-outline:active {
  background-color: var(--rs-color-background-accent-emphasis);
  color: var(--rs-color-foreground-accent-emphasis);
  border-color: var(--rs-color-border-accent-emphasis);
}

.button-outline:disabled,
.button-outline.button-disabled {
  opacity: 0.5;
  background-color: transparent;
  cursor: not-allowed;
}

.button-outline:disabled:hover,
.button-outline.button-disabled:hover,
.button-outline:disabled:active,
.button-outline.button-disabled:active,
.button-outline:disabled[data-radix-popover-trigger][data-state="open"],
.button-outline.button-disabled[data-radix-popover-trigger][data-state="open"],
.button-outline:disabled[data-radix-dropdown-menu-trigger][data-state="open"],
.button-outline.button-disabled[data-radix-dropdown-menu-trigger][data-state="open"] {
  background-color: transparent;
  color: var(--rs-color-foreground-accent-primary);
  border-color: var(--rs-color-border-accent-emphasis);
}

.button-outline.button-loading:hover,
.button-outline.button-loading:active,
.button-outline.button-loading[data-radix-popover-trigger][data-state="open"],
.button-outline.button-loading[data-radix-dropdown-menu-trigger][data-state="open"] {
  background-color: transparent;
  color: var(--rs-color-foreground-accent-primary);
  border-color: var(--rs-color-border-accent-primary);
  cursor: not-allowed;
}

.button-outline-accent.button-loading:hover,
.button-outline-accent.button-loading:active {
  background-color: transparent;
  color: var(--rs-color-foreground-accent-primary);
  border-color: var(--rs-color-border-accent-emphasis);
}

.button-ghost {
  color: var(--rs-color-foreground-base-primary);
  background-color: transparent;
  border: 1px dashed var(--rs-color-border-base-primary);
}

.button-ghost:hover,
.button-ghost:active,
.button-ghost[data-radix-popover-trigger][data-state="open"],
.button-ghost[data-radix-dropdown-menu-trigger][data-state="open"] {
  background-color: var(--rs-color-background-base-primary-hover);
  border-color: var(--rs-color-border-base-focus);
}

.button-ghost:disabled,
.button-ghost.button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button-ghost:disabled:hover,
.button-ghost.button-disabled:hover,
.button-ghost:disabled:active,
.button-ghost.button-disabled:active,
.button-ghost:disabled[data-radix-popover-trigger][data-state="open"],
.button-ghost.button-disabled[data-radix-popover-trigger][data-state="open"],
.button-ghost:disabled[data-radix-dropdown-menu-trigger][data-state="open"],
.button-ghost.button-disabled[data-radix-dropdown-menu-trigger][data-state="open"] {
  color: var(--rs-color-foreground-base-primary);
  background-color: transparent;
  border-color: var(--rs-color-border-base-primary);
}

.button-ghost.button-loading:hover,
.button-ghost.button-loading:active,
.button-ghost.button-loading[data-radix-popover-trigger][data-state="open"],
.button-ghost.button-loading[data-radix-dropdown-menu-trigger][data-state="open"] {
  background-color: transparent;
  border-color: var(--rs-color-border-base-primary);
  cursor: not-allowed;
}

.button-text {
  color: var(--rs-color-foreground-base-primary);
  background-color: transparent;
}

.button-text:hover,
.button-text:active,
.button-text[data-radix-popover-trigger][data-state="open"],
.button-text[data-radix-dropdown-menu-trigger][data-state="open"] {
  background-color: var(--rs-color-background-base-primary-hover);
}

.button-text:disabled,
.button-text.button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button-text.button-loading:hover,
.button-text.button-loading:active,
.button-text.button-loading[data-radix-popover-trigger][data-state="open"],
.button-text.button-loading[data-radix-dropdown-menu-trigger][data-state="open"] {
  background-color: transparent;
  cursor: not-allowed;
}

.button-text:disabled:hover,
.button-text.button-disabled:hover,
.button-text:disabled:active,
.button-text.button-disabled:active,
.button-text:disabled[data-radix-popover-trigger][data-state="open"],
.button-text.button-disabled[data-radix-popover-trigger][data-state="open"],
.button-text:disabled[data-radix-dropdown-menu-trigger][data-state="open"],
.button-text.button-disabled[data-radix-dropdown-menu-trigger][data-state="open"] {
  color: var(--rs-color-foreground-base-primary);
  background-color: transparent;
}

.button-loading {
  display: flex;
  align-items: center;
}

.button-loading:hover,
.button-loading:active,
.button-loading[data-radix-popover-trigger][data-state="open"],
.button-loading[data-radix-dropdown-menu-trigger][data-state="open"] {
  background-color: inherit;
  cursor: not-allowed;
}

.loader {
  border: 2px solid var(--rs-color-background-base-primary);
  border-top: 2px solid var(--rs-color-foreground-base-primary);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 1s linear infinite;
}

.loader-text {
  margin-left: var(--rs-space-3);
}

.loader-only-button-small {
  padding: var(--rs-space-2) var(--rs-space-6);
}

.loader-only-button-normal {
  padding: var(--rs-space-3) var(--rs-space-8);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-leading {
  margin-right: var(--rs-space-3);
}

.icon-trailing {
  margin-left: var(--rs-space-3);
}

/* Solid variant colors */
.button-solid-accent {
  background-color: var(--rs-color-background-accent-emphasis);
  color: var(--rs-color-foreground-accent-emphasis);
}

.button-solid-accent:hover {
  background-color: var(--rs-color-background-accent-emphasis-hover);
}

.button-solid-accent:active {
  background-color: var(--rs-color-background-accent-emphasis-hover);
}

.button-solid-danger {
  background-color: var(--rs-color-background-danger-emphasis);
  color: var(--rs-color-foreground-danger-emphasis);
}

.button-solid-danger:hover {
  background-color: var(--rs-color-background-danger-emphasis-hover);
}

.button-solid-danger:active {
  background-color: var(--rs-color-background-danger-emphasis-hover);
}

.button-solid-danger.button-loading:hover {
  background-color: var(--rs-color-background-danger-emphasis);
}

.button-solid-neutral {
  background-color: var(--rs-color-background-neutral-secondary);
  color: var(--rs-color-foreground-base-primary);
}

.button-solid-neutral:hover {
  background-color: var(--rs-color-background-neutral-secondary-hover);
}

.button-solid-neutral:active {
  background-color: var(--rs-color-background-neutral-secondary-hover);
}

.button-solid-neutral.button-loading:hover {
  background-color: var(--rs-color-background-neutral-secondary);
}

.button-solid-success {
  background-color: var(--rs-color-background-success-emphasis);
  color: var(--rs-color-foreground-success-emphasis);
}

.button-solid-success:hover {
  background-color: var(--rs-color-background-success-emphasis-hover);
}

.button-solid-success:active {
  background-color: var(--rs-color-background-success-emphasis-hover);
}

/* Outline variant colors */
.button-outline-accent {
  border-color: var(--rs-color-border-accent-emphasis);
  color: var(--rs-color-foreground-accent-primary);
}

.button-outline-accent:hover {
  background-color: var(--rs-color-background-accent-primary);
}

.button-outline-accent:active {
  background-color: var(--rs-color-background-accent-emphasis);
  color: var(--rs-color-foreground-accent-emphasis);
}

.button-outline-danger {
  border-color: var(--rs-color-border-danger-emphasis);
  color: var(--rs-color-foreground-danger-primary);
}

.button-outline-danger:hover {
  border-color: var(--rs-color-border-danger-emphasis-hover);
  background-color: var(--rs-color-background-danger-primary);
}

.button-outline-danger:active {
  background-color: var(--rs-color-background-danger-emphasis);
  color: var(--rs-color-foreground-danger-emphasis);
  border-color: transparent;
}

.button-outline-neutral {
  background-color: var(--rs-color-background-base-primary);
  color: var(--rs-color-foreground-base-primary);
  border: 1px solid var(--rs-color-border-base-tertiary);
}

.button-outline-neutral:hover {
  background-color: var(--rs-color-background-base-primary-hover);
  border-color: var(--rs-color-border-base-tertiary-hover);
}

.button-outline-neutral:active {
  background-color: var(--rs-color-background-base-primary-hover);
  color: var(--rs-color-foreground-base-primary);
  border-color: transparent;
}

.button-outline-success {
  border-color: var(--rs-color-border-success-emphasis);
  color: var(--rs-color-foreground-success-primary);
}

.button-outline-success:hover {
  background-color: var(--rs-color-background-success-primary);
  border-color: var(--rs-color-border-success-emphasis-hover);
}

.button-outline-success:active {
  background-color: var(--rs-color-background-success-emphasis);
  color: var(--rs-color-foreground-success-emphasis);
  border-color: transparent;
}

.button-solid,
.button-outline {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.06), 0px 4px 4px -1px rgba(0, 0, 0, 0.02);
}
