.content {
  --apsara-select-padding: var(--rs-space-2);
  z-index: var(--rs-z-index-portal);
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
  box-sizing: border-box;
  background-color: var(--rs-color-background-base-primary);
  border-radius: var(--rs-radius-2);
  box-shadow: var(--rs-shadow-soft);
  border: 0.5px solid var(--rs-color-border-base-primary);
  min-width: var(--radix-select-trigger-width);
  transition: all 0.2s ease;
  max-height: 320px;
  position: relative;
}

.menuitem {
  display: flex;
  align-items: center;
  position: relative;
  gap: var(--rs-space-3);
  padding: var(--rs-space-3);
  color: var(--rs-color-foreground-base-primary);
  white-space: normal;
  word-break: break-word;
  border-radius: var(--rs-radius-2);
}

.menuitem[data-highlighted],
.menuitem[data-active-item="true"] {
  outline: none;
  cursor: pointer;
  background: var(--rs-color-background-base-primary-hover);
}
.content:not([data-multiselectable="true"]) .menuitem[data-state="checked"] {
  background: var(--rs-color-background-neutral-secondary);
}

.menuitem[data-disabled] {
  opacity: 0.6;
  pointer-events: none;
}

.label {
  padding: var(--rs-space-2) var(--rs-space-3);
  font-weight: var(--rs-font-weight-medium);
  font-size: var(--rs-font-size-mini);
}

.separator {
  height: 1px;
  margin: var(--rs-space-2) calc(var(--rs-space-3) * -1);
  background: var(--rs-color-border-base-primary);
}

.trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--rs-color-foreground-base-primary);
  background-color: var(--rs-color-background-base-primary);
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  border-radius: var(--rs-radius-2);
  letter-spacing: var(--rs-letter-spacing-small);
  user-select: none;
  -webkit-user-select: none;
  transition: all 0.2s ease;
}

.trigger-outline {
  border: 0.5px solid var(--rs-color-border-base-secondary);
}

.trigger-text {
  border: none;
  box-shadow: none;
}

.trigger-small {
  padding: var(--rs-space-2);
  min-height: 24px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.trigger-small .triggerContent {
  overflow: hidden;
  font-size: var(--rs-font-size-mini);
  font-style: normal;
  font-weight: var(--rs-font-weight-medium);
  line-height: var(--rs-line-height-mini);
  letter-spacing: var(--rs-letter-spacing-mini);
  gap: var(--rs-space-1);
}

.trigger-medium {
  padding: var(--rs-space-3);
  min-height: 32px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.trigger-medium .triggerContent {
  overflow: hidden;
  font-size: var(--rs-font-size-small);
  font-style: normal;
  font-weight: var(--rs-font-weight-medium);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
  gap: var(--rs-space-2);
}
.trigger[data-multiselectable="true"] {
  padding-top: var(--rs-space-2);
  padding-bottom: var(--rs-space-2);
}

.trigger:hover {
  cursor: pointer;
  background-color: var(--rs-color-background-base-primary-hover);
  color: var(--rs-color-foreground-base-primary);
}
.trigger:focus-visible {
  outline: 1px solid var(--rs-color-border-accent-emphasis);
}

.trigger:focus {
  outline: none;
}

.trigger:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.trigger::placeholder {
  color: var(--rs-color-foreground-base-tertiary);
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
}

.triggerIcon {
  width: 16px;
  height: 16px;
  margin-left: var(--rs-space-3);
  flex-shrink: 0;
  color: var(--rs-color-foreground-base-secondary);
}

.content[data-variant="text"] {
  margin-top: var(--rs-space-2);
  padding: var(--rs-space-1);
  border: 0.5px solid var(--rs-color-border-base-primary);
  box-shadow: var(--rs-shadow-soft);
}

.content[data-variant="text"] .menuitem {
  padding: var(--rs-space-1) var(--rs-space-2);
  min-height: 24px !important;
  font-size: var(--rs-font-size-small);
}

.triggerContent {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.valueContent {
  flex: 1;
  display: flex;
  align-items: center;
  gap: var(--rs-space-3);
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.trigger-small .valueContent {
  gap: var(--rs-space-2);
}

.itemIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.itemIcon svg {
  width: 16px;
  height: 16px;
}

.trigger-small .valueContent .itemIcon svg {
  width: 12px;
  height: 12px;
}

.trigger-small .triggerIcon {
  width: 12px;
  height: 12px;
  margin-left: var(--rs-space-2);
  flex-shrink: 0;
}

.placeholder,
[data-placeholder],
.valueContent[data-state="placeholder"] {
  color: var(--rs-color-foreground-base-tertiary);
}

.placeholder:hover,
[data-placeholder]:hover,
.valueContent[data-state="placeholder"]:hover {
  color: var(--rs-color-foreground-base-tertiary);
}

.trigger[data-disabled] {
  background: var(--rs-color-background-base-primary);
  border-color: var(--rs-color-border-base-tertiary);
  opacity: 0.4;
  cursor: not-allowed !important;
  pointer-events: none;
}

.trigger[data-disabled]:hover {
  background: var(--rs-color-background-base-primary);
  border-color: var(--rs-color-border-base-tertiary);
  cursor: not-allowed !important;
}

.trigger[data-disabled] .triggerContent {
  color: var(--rs-color-foreground-base-tertiary);
}

.trigger[data-disabled] .triggerIcon {
  color: var(--rs-color-foreground-base-tertiary);
}

.trigger[data-disabled] .placeholder,
.trigger[data-disabled] [data-placeholder],
.trigger[data-disabled] .valueContent[data-state="placeholder"] {
  color: var(--rs-color-foreground-base-tertiary);
}

[data-disabled=""] {
  cursor: not-allowed;
  pointer-events: none;
}

.comboboxContent,
.viewport {
  padding: var(--apsara-select-padding);
}

.comboboxViewport {
  padding: 0;
}

/*
  Empty state matches:
   1. Completely empty container
   2. Container where all .item children have data-hidden="true"
*/
.comboboxContent:empty,
.comboboxContent:not(:has(.menuitem:not([data-hidden="true"]))) {
  padding: 0;
}
.comboboxContainer:has(.comboboxContent:empty) .comboboxInput,
.comboboxContainer:has(
    .comboboxContent:not(:has(.menuitem:not([data-hidden="true"])))
  )
  .comboboxInput {
  border-bottom: none;
}

.comboboxInput {
  width: 100%;
  color: var(--rs-color-foreground-base-primary);
  padding: var(--rs-space-3) var(--rs-space-4);
  font-weight: var(--rs-font-weight-regular);
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
  border-bottom: 0.5px solid var(--rs-color-border-base-primary);
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--rs-color-background-base-primary);
  border-top-left-radius: var(--rs-radius-2);
  border-top-right-radius: var(--rs-radius-2);
}

.comboboxInput:focus {
  outline: none;
}

.hidden {
  display: none;
}
