.root {
  display: flex;
  background: var(--background-inset);
  border-radius: var(--br-4);
  padding: var(--pd-4);
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px var(--pd-4);
  gap: var(--pd-8);
  background: var(--background-inset);
  color: var(--foreground-muted);
  border: 0px;
  cursor: pointer;
}

.item:first-child {
  margin-left: 0;
  border-top-left-radius: var(--br-4);
  border-bottom-left-radius: var(--br-4);
}
.item:last-child {
  border-top-right-radius: var(--br-4);
  border-bottom-right-radius: var(--br-4);
}

.item:hover {
  background: var(--background-base-hover);
}
.item[data-state="on"] {
  background: var(--background-base);
  color: var(--foreground-base);
  box-shadow: var(--shadow-sm);
}
