.badge {
  font-weight: var(--rs-font-weight-regular);
  font-style: normal;
  display: inline-flex;
  padding: var(--rs-space-1) var(--rs-space-2);
  justify-content: center;
  align-items: center;
  gap: var(--rs-space-2);
  border-radius: var(--rs-radius-1);
  white-space: nowrap;
}

/* Sizes */
.badge-micro {
  font-size: var(--rs-font-size-micro);
  line-height: var(--rs-line-height-micro);
  letter-spacing: var(--rs-letter-spacing-micro);
  height: 18px;
}

.badge-small {
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
  height: 22px;
}

.badge-regular {
  font-size: var(--rs-font-size-regular);
  line-height: var(--rs-line-height-regular);
  letter-spacing: var(--rs-letter-spacing-regular);
  height: 28px;
}

/* Variants */
.badge-neutral {
  background: var(--rs-color-background-neutral-secondary);
  color: var(--rs-color-foreground-base-primary);
}

.badge-accent {
  background: var(--rs-color-background-accent-primary);
  color: var(--rs-color-foreground-base-primary);
}

.badge-warning {
  background: var(--rs-color-background-attention-primary);
  color: var(--rs-color-foreground-base-primary);
}

.badge-danger {
  background: var(--rs-color-background-danger-primary);
  color: var(--rs-color-foreground-base-primary);
}

.badge-success {
  background: var(--rs-color-background-success-primary);
  color: var(--rs-color-foreground-base-primary);
}

.badge-gradient {
  background: linear-gradient(to right, #ad00e933 0%, #ef040433 100%);
  color: var(--rs-color-foreground-base-primary);
}

/* Icon */
.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--rs-color-foreground-base-primary);
}

.badge-micro .icon {
  width: 10px;
  height: 10px;
}

.badge-small .icon {
  width: 12px;
  height: 12px;
}

.badge-regular .icon {
  width: 14px;
  height: 14px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
