.textfield {
  appearance: none;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
  height: auto;
  width: 100%;

  background-color: var(--background-base);
  border: 0.5px solid var(--border-base);
  box-shadow: var(--shadow-xs);
  border-radius: var(--br-4);
  color: var(--foreground-base);
}

.textfield:-webkit-autofill {
  box-shadow: var(--shadow-xs);
}

.textfield:focus {
  border: 1px solid var(--background-accent-inverted);
}

.textfield::placeholder {
  color: var(--foreground-subtle);
  font-size: 12px;
  line-height: 16px;
},

.textfield:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}

.textfield:read-only {
  background-color: var(--background-base);
}

.textfield-sm {
  border-radius: var(--br-4);
  font-size: 12px;
  line-height: 16px;
  padding: var(--pd-4);
}

.textfield-md {
  border-radius: var(--br-8);
  font-size: 13px;
  line-height: 16px;
  padding: var(--pd-8);
}

.textfield-invlid {
  border: 1px solid var(--border-danger);
}
.textfield-invlid:focus {
  border: 1px solid var(--border-danger);
}

.textfield-valid {
  border: 1px solid var(--border-success);
}

.textfield-valid:focus {
  border: 1px solid var(--border-success);
}

