.trigger {
  width: fit-content;
}

.content {
  z-index: 100;
  background: var(--background-base);
  border: 1px solid var(--border-subtle);
  padding: var(--pd-4) var(--pd-8);
  border-radius: var(--br-4);
}
