.calendarRoot {
  padding: var(--rs-space-3);
  border-radius: var(--rs-radius-4);
  background: var(--rs-color-background-base-primary);
  width: fit-content;
  font-family: var(--rs-font-body);
  min-height: 346px;
}

.caption_label,
.dropdowns > span,
.dropdown_trigger {
  font-family: var(--rs-font-body);
  font-weight: var(--rs-font-weight-medium);
  font-size: var(--rs-font-size-mini);
  line-height: var(--rs-line-height-mini);
  letter-spacing: var(--rs-letter-spacing-mini);
  color: var(--rs-color-foreground-base-primary);
  user-select: none;
  -webkit-user-select: none;
  font-style: normal;
}

.caption_label[aria-hidden="true"] {
  display: none;
}

.nav_button {
  position: absolute;
  top: 0;
  border: 0px;
  color: var(--rs-color-foreground-base-primary);
  background: var(--rs-color-background-base-primary);
  cursor: pointer;
  height: var(--rs-space-7);
}

.nav_button:disabled {
  opacity: 0.5;
  color: var(--rs-color-foreground-base-tertiary);
}

.nav_button_previous {
  left: 0;
}

.nav_button_next {
  right: 0;
}

.months {
  display: flex;
  gap: var(--rs-space-4);
  position: relative;
}

.nav {
  position: absolute;
  width: 100%;
}

.month_caption {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;
  margin: 0 auto var(--rs-space-4) auto;
  height: var(--rs-space-7);
}

.day {
  width: var(--rs-space-10, 40px);
  height: var(--rs-space-10, 40px);
  background-color: var(--rs-color-background-base-primary);
  border-radius: var(--rs-radius-2);
  color: var(--rs-color-foreground-base-primary);
  font-style: normal;
  text-align: center;
  font-family: var(--rs-font-body);
  font-weight: var(--rs-font-weight-regular);
  font-size: var(--rs-font-size-micro);
  line-height: var(--rs-line-height-micro);
  letter-spacing: var(--rs-letter-spacing-micro);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  margin-bottom: var(--rs-space-1);
}

.day:hover:not(.disabled):not(.outside):not(.selected) {
  width: var(--rs-space-10, 40px);
  height: var(--rs-space-10, 40px);
  flex-shrink: 0;
  border-radius: var(--rs-radius-5);
  border: 1px solid var(--rs-color-border-accent-emphasis-hover);
  background-color: transparent;
}

.selected:not(.range_middle) {
  width: var(--rs-space-10, 40px);
  height: var(--rs-space-10, 40px);
  border-radius: var(--rs-radius-5);
  background: var(--rs-color-background-accent-emphasis);

  button {
    color: var(--rs-color-foreground-base-emphasis);
  }
}

.range_middle {
  border-radius: 0;
  background-color: var(--rs-color-background-base-primary-hover);
  margin-bottom: var(--rs-space-1);

  button {
    color: var(--rs-color-foreground-base-primary);
  }
}

.range_middle:first-of-type {
  border-top-left-radius: var(--rs-radius-5);
  border-bottom-left-radius: var(--rs-radius-5);
}

.range_middle:last-of-type {
  border-top-right-radius: var(--rs-radius-5);
  border-bottom-right-radius: var(--rs-radius-5);
}

.range_start:not(.range_end) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.range_end:not(.range_start) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.week {
  display: flex;
}

.outside {
  color: var(--rs-color-foreground-base-tertiary);
}

.range_start,
.range_end {
  color: var(--rs-color-foreground-base-emphasis);
}

.weekday {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--rs-space-10, 40px);
  height: var(--rs-space-10, 40px);
  color: var(--rs-color-foreground-base-secondary);
  text-align: center;
  font-style: normal;
  font-family: var(--rs-font-body);
  font-weight: var(--rs-font-weight-medium);
  font-size: var(--rs-font-size-micro);
  line-height: var(--rs-line-height-micro);
  letter-spacing: var(--rs-letter-spacing-micro);
}

.hidden {
  visibility: hidden;
}

.calendarPopover {
  padding: var(--rs-space-3) !important;
  /* border: none !important; */
  border: 1px solid var(--rs-color-border-base-primary) !important;
  min-width: max-content;
  width: fit-content;
  max-width: none !important;
}

.dropdowns {
  display: flex;
  align-items: center;
  gap: var(--rs-space-3);
}

.dropdown_trigger {
  padding: var(--rs-space-1) var(--rs-space-3);
}

.dropdown_icon {
  margin-left: var(--rs-space-1);
}

.dropdown_content {
  max-height: 400px;
}

.disabled {
  color: var(--rs-color-foreground-base-tertiary);
  opacity: 0.8;
}

.day.today button::after {
  content: "";
  position: absolute;
  bottom: var(--rs-space-2);
  left: 50%;
  transform: translateX(-50%);
  width: var(--rs-space-2);
  height: var(--rs-space-2);
  border-radius: 50%;
  background-color: var(--rs-color-background-accent-emphasis);
}

.day.today .day_button_with_info::after {
  bottom: var(--rs-space-1);
}

.selected.day.today:not(.range_middle) button::after {
  background-color: var(--rs-color-foreground-base-emphasis);
}

.range_middle.day.today button::after {
  background-color: var(--rs-color-background-accent-emphasis);
}

.day_button {
  cursor: pointer;
  border: none;
  width: 100%;
  height: 100%;
  padding: unset;
  display: grid;
  place-content: center;
  background: inherit;
  color: inherit;
  font-family: var(--rs-font-body);
  font-weight: var(--rs-font-weight-medium);
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
  border-radius: inherit;
  position: relative;
}

.day_button_with_info {
  display: grid;
  place-content: center;
  position: relative;
}

.day_info {
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
  width: 100%;
  pointer-events: none;
  z-index: 1;
}

.selected:not(.range_middle) .day_info {
  color: var(--rs-color-foreground-base-emphasis);
}

.selected:not(.range_middle) .day_info * {
  color: var(--rs-color-foreground-base-emphasis);
}

.selected:not(.range_middle) .day_info svg {
  color: var(--rs-color-foreground-base-emphasis);
  fill: var(--rs-color-foreground-base-emphasis);
}

.day_number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 0;
}

.calendarFooter {
  padding: var(--rs-space-3);
  margin-top: var(--rs-space-2);
}

.datePickerInput {
  text-align: left;
}
