:root {
  --foreground-base: #3C4347;
  --foreground-muted: #687076;
  --foreground-subtle: #7E868C;
  --foreground-inverted: #FBFCFD;
  --foreground-accent: #3E63DD;
  --foreground-attention: #FFB224;
  --foreground-danger: #E5484D;
  --foreground-success: #30A46C;

  --background-base: #FBFCFD;
  --background-base-hover: #F1F3F5;
  --background-inset: #F1F3F5;
  --background-inset-hover: #E6E8EB;
  --background-subtle: #F8F9FA;
  --background-highlight: #889096;
  --background-inverted: #3C4347;
  --background-accent: #E6EDFE;
  --background-accent-inverted: #3E63DD;
  --background-accent-inverted-hover: #3A5CCC;
  --background-attention: #FFECBC;
  --background-attention-inverted: #FFB224;
  --background-danger: #FFE5E5;
  --background-danger-inverted: #E5484D;
  --background-danger-inverted-hover: #DC3D43;
  --background-success: #DDF3E4;
  --background-success-inverted: #30A46C;

  --border-base: #D7DBDF;
  --border-base-hover: #C1C8CD;
  --border-muted: #DFE3E6;
  --border-subtle: #ECEEF0;
  --border-accent: #AEC0F5;
  --border-accent-inverted: #3E63DD;
  --border-accent-inverted-hover: #3A5CCC;
  --border-attention: #F3BA63;
  --border-attention-inverted: #FFB224;
  --border-danger: #F3AEAF;
  --border-danger-inverted: #E5484D;
  --border-danger-inverted-hover: #DC3D43;
  --border-success: #92CEAC;
  --border-success-inverted: #30A46C;

  --ff-inter: 'Inter', -apple-system, system-ui, sans-serif;
  --ff-mono: Söhne Mono, menlo, monospace;

  --fs-100: 0.688rem;
  --fs-200: 0.75rem;
  --fs-300: 0.813rem;
  --fs-400: 0.875rem;
  --fs-500: 0.938rem;
  --fs-600: 1rem;


  --pd-2: 2px;
  --pd-4: 4px;
  --pd-6: 6px;
  --pd-8: 8px;
  --pd-12: 12px;
  --pd-16: 16px;
  --pd-32: 32px;

  --mr-2: 2px;
  --mr-4: 4px;
  --mr-6: 6px;
  --mr-8: 8px;
  --mr-12: 12px;
  --mr-16: 16px;
  --mr-32: 32px;

  --br-2: 2px;
  --br-4: 4px;
  --br-8: 8px;
  --br-12: 12px;
  --br-16: 16px;
  --br-32: 32px;
  --br-round: 50%;
  --br-pill: 999px;

  --shadow-xs: 0px 1px 2px rgba(16, 24, 40, 0.06);
  --shadow-sm: 0px 1px 4px rgba(0, 0, 0, 0.09);
  --shadow-md: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  --shadow-lg: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
  --shadow-xl: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
}