.root {
  padding: var(--rs-space-1);
  border: 0.5px solid var(--rs-color-border-base-primary);
  border-radius: var(--rs-radius-2);
  overflow: clip;
}
.root,
.group {
  display: flex;
  align-items: center;
  gap: var(--rs-space-1);
}
.root[data-orientation="vertical"],
.root[data-orientation="vertical"] .group {
  flex-direction: column;
}

.root[data-orientation="vertical"] button {
  width: 100%;
}
.root > *,
.group > * {
  border: none;
}

.separator {
  flex-shrink: 0;
  background-color: var(--rs-color-border-base-primary);
}
.separator[data-orientation="vertical"] {
  width: 1px;
  height: var(--rs-space-5);
}
.separator[data-orientation="horizontal"] {
  width: calc(100% - var(--rs-space-3));
  height: 1px;
}
.group {
  padding: 0;
  background-color: none;
}
