.root {
  padding: var(--rs-space-1);
  border: 0.5px solid var(--rs-color-border-base-primary);
  border-radius: var(--rs-radius-2);
  overflow: clip;
}
.root,
.group {
  display: flex;
  align-items: center;
  gap: var(--rs-space-1);
}

.root > *,
.group > * {
  border: none;
}

.separator {
  flex-shrink: 0;
  width: 1px;
  height: 16px;
  background-color: var(--rs-color-border-base-primary);
}
.group {
  padding: 0;
  background-color: none;
}
