.wrapper {
  width: 100%;
  height: 100%;
}

.datatable {
  flex: 1;
}

.table {
  height: 100vh;
  overflow: visible;
}

.head {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toolbar {
  width: 100%;
  padding: 0 !important;
  border-bottom: 1px solid var(--border-subtle);
}

.chip {
  display: inline-flex;
  align-items: center;
  gap: var(--pd-8);
  border: 1px solid var(--border-base);
  border-radius: var(--pd-4);
  padding: var(--pd-4) var(--pd-8);
}

.chipWrapper {
  border-top: 1px solid var(--border-base);
}
