.table {
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  caption-side: bottom;
  overflow: visible;
  color: var(--foreground-base);
}

.caption {
  margin-top: var(--mr-16);
  color: var(--foreground-muted);
}

.header {
  top: 0px;
  position: sticky;
  background: var(--background-base);
  margin: 0 0 0 0;
}

.header tr {
  border-bottom: 1px solid var(--foreground-muted);
}

.head {
  color: var(--foreground-muted);
  font-weight: 500;
  text-align: left;
  padding: 0.5rem;
  vertical-align: middle;
  border-bottom: 1px solid var(--border-subtle);
}

.cell {
  font-weight: 500;
  padding: 14px 0.5rem;
  border-bottom: 1px solid var(--border-subtle);
}
