.root {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100%;
  --scrollbar-size: 6px;
}

.viewport {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.scrollbar {
  display: flex;
  user-select: none;
  touch-action: none;
  padding: 0;
  background: transparent;
  pointer-events: auto;
  position: relative;
  contain: layout;
}

.scrollbar[data-orientation='vertical'] {
  width: 6px;
}

.scrollbar[data-orientation='horizontal'] {
  flex-direction: column;
  height: 6px;
}

.thumb {
  position: relative;
  flex: 1;
  background: transparent;
  border-radius: var(--rs-radius-2);
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
  touch-action: none;
}

.thumb::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border-radius: var(--rs-radius-2);
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1), height 300ms cubic-bezier(0.4, 0, 0.2, 1), background 300ms cubic-bezier(0.4, 0, 0.2, 1), margin-left 300ms cubic-bezier(0.4, 0, 0.2, 1), margin-top 300ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.scrollbar[data-orientation='vertical'] .thumb {
  width: 6px;
}

.scrollbar[data-orientation='vertical'] .thumb::before {
  width: 6px;
  height: 100%;
}

.scrollbar[data-orientation='horizontal'] .thumb {
  height: 6px;
}

.scrollbar[data-orientation='horizontal'] .thumb::before {
  width: 100%;
  height: 6px;
}

.scrollbar:hover .thumb {
  opacity: 1;
  pointer-events: auto;
}

.scrollbar:hover .thumb::before {
  background: var(--rs-color-border-base-primary);
}

.thumb-always-visible .thumb {
  opacity: 1;
  pointer-events: auto;
}

.thumb-always-visible .thumb::before {
  background: var(--rs-color-border-base-primary);
}

.thumb-hidden .thumb {
  opacity: 0;
  pointer-events: none;
}

.scrollbar[data-orientation='vertical']:hover .thumb::before {
  width: 7.8px;
  height: 100%;
  margin-left: calc(6px - 7.8px);
}

.scrollbar[data-orientation='horizontal']:hover .thumb::before {
  width: 100%;
  height: 7.8px;
  margin-top: calc(6px - 7.8px);
}

.scrollbar[data-orientation='vertical'] .thumb:hover::before {
  width: 8.4px !important;
  height: 100% !important;
  margin-left: calc(6px - 8.4px) !important;
}

.scrollbar[data-orientation='horizontal'] .thumb:hover::before {
  width: 100% !important;
  height: 8.4px !important;
  margin-top: calc(6px - 8.4px) !important;
}

.corner {
  background: transparent;
}