.root {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100%;
}

.viewport {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.scrollbar {
  display: flex;
  user-select: none;
  touch-action: none;
  padding: 0;
  background: transparent;
  pointer-events: auto;
  position: relative;
  transition: width 300ms ease-out, height 300ms ease-out;
}

.scrollbar[data-orientation="vertical"] {
  width: 4px;
}

.scrollbar[data-orientation="vertical"]:hover {
  width: 6px;
}

.scrollbar[data-orientation="horizontal"] {
  flex-direction: column;
  height: 4px;
}

.scrollbar[data-orientation="horizontal"]:hover {
  height: 6px;
}

.thumb {
  flex: 1;
  background: var(--rs-color-overlay-black-a2);
  border-radius: var(--rs-radius-2);
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
  touch-action: none;
}

.scrollbar:hover .thumb {
  opacity: 1;
  pointer-events: auto;
}

.thumb-always-visible .thumb {
  opacity: 1;
  pointer-events: auto;
}

.thumb-hidden .thumb {
  opacity: 0;
  pointer-events: none;
}

.corner {
  background: transparent;
}