.item {
  flex: 1;
  border-bottom: 1px solidvar(--border-base);
  font-size: 12px;
  letter-spacing: 0.4px;
  margin-left: 24px;
  margin-right: 24px;
  font-family: inherit;
}

.header {
  display: flex;
  font-size: 12px;
  line-height: 16px;
  

}

.trigger {
  background: transparent;
  border: none;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  letter-spacing: 0.4px;
  color: #4b4c5f;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  transition: color 50ms ease-in;
}

.trigger:hover {
  cursor: pointer;
  transition: color 250ms ease-out;
}

.trigger[data-state='open'] {
  font-weight: 700;
  color: #1e1f36;
  padding-bottom: 12px;
}

.trigger[data-state='open'] > .svg {
  transform: rotate(-90deg);
}

.svg {
  transition: transform 350ms;
  margin-left: 8px;
}

.content {
  color: #4b4c5f;
  overflow: hidden;
  line-height: 16px;
  padding: var(--pd-4) 0;
}

.content[data-state='open'] {
  animation: slideDown 350ms ease-out;
  margin: 16px 0;
  letter-spacing: 0.4px;
}

.content[data-state='closed'] {
  animation: slideUp 350ms ease-out;
}



@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@media (min-width: 64rem) {
  .item {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;

    width: 400px;
  }
}