.button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: var(--fs-200);
  font-weight: 500;
  width: fit-content;
  transition: background-color var(--transition);
  padding: var(--gap-3) var(--gap-4);
  border-radius: var(--br-4);
}

.button:before,
.button:after {
  box-sizing: border-box;
}

.button:disabled,
.button-disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.button-small {
  padding: var(--gap-2) var(--gap-3);
  font-size: var(--fs-100);
}

.button-normal {
  padding: var(--gap-3) var(--gap-4);
  font-size: var(--fs-200);
}

.button-round {
  padding-top: var(--pd-8);
  padding-bottom: var(--pd-8);
  width: 24px;
  height: 24px;
  border-radius: var(--br-round);
}

.button-primary {
  color: var(--ascent-contrast);
  background-color: var(--background-accent-inverted);
}

.button-primary:hover,
.button-primary:active,
.button-primary[data-radix-popover-trigger][data-state="open"],
.button-primary[data-radix-dropdown-menu-trigger][data-state="open"] {
  background-color: var(--background-accent-inverted-hover);
}

.button-secondary,
.button-outline,
.button-ghost,
.button-text {
  color: var(--foreground-base);
  background-color: var(--background-base);
}

.button-secondary {
  outline: 1px solid var(--border-base);
}

.button-secondary:hover,
.button-secondary:active,
.button-secondary[data-radix-popover-trigger][data-state="open"],
.button-secondary[data-radix-dropdown-menu-trigger][data-state="open"] {
  background-color: var(--background-base-hover);
  outline: 1px solid var(--border-base-hover);
}

.button-outline {
  color: var(--foreground-accent);
  outline: 1px solid var(--border-accent-inverted);
}

.button-outline:hover,
.button-outline:active,
.button-outline[data-radix-popover-trigger][data-state="open"],
.button-outline[data-radix-dropdown-menu-trigger][data-state="open"] {
  background-color: var(--background-accent);
  outline: 1px solid var(--border-accent-inverted-hover);
}

.button-ghost {
  outline: 1px dashed var(--border-base);
}

.button-ghost:hover,
.button-ghost:active,
.button-ghost[data-radix-popover-trigger][data-state="open"],
.button-ghost[data-radix-dropdown-menu-trigger][data-state="open"] {
  background-color: var(--background-base-hover);
  outline: 1px dashed var(--border-base-hover);
}

.button-danger {
  color: var(--ascent-contrast);
  background-color: var(--background-danger-inverted);
}

.button-danger:hover,
.button-danger:active,
.button-danger[data-radix-popover-trigger][data-state="open"],
.button-danger[data-radix-dropdown-menu-trigger][data-state="open"] {
  background-color: var(--background-danger-inverted-hover);
}

.button-text:hover,
.button-text:active,
.button-text[data-radix-popover-trigger][data-state="open"],
.button-text[data-radix-dropdown-menu-trigger][data-state="open"] {
  background-color: var(--background-base-hover);
}

.button-loading {
  display: flex;
  align-items: center;
}

.button-loading:hover,
.button-loading:active,
.button-loading[data-radix-popover-trigger][data-state="open"],
.button-loading[data-radix-dropdown-menu-trigger][data-state="open"] {
  background-color: inherit;
  cursor: not-allowed;
}

.button-primary.button-loading:hover,
.button-primary.button-loading:active,
.button-primary.button-loading[data-radix-popover-trigger][data-state="open"],
.button-primary.button-loading[data-radix-dropdown-menu-trigger][data-state="open"] {
  background-color: var(--background-accent-inverted);
}

.button-secondary.button-loading:hover,
.button-secondary.button-loading:active,
.button-secondary.button-loading[data-radix-popover-trigger][data-state="open"],
.button-secondary.button-loading[data-radix-dropdown-menu-trigger][data-state="open"] {
  background-color: var(--background-base);
  outline: 1px solid var(--border-base);
}

.button-outline.button-loading:hover,
.button-outline.button-loading:active,
.button-outline.button-loading[data-radix-popover-trigger][data-state="open"],
.button-outline.button-loading[data-radix-dropdown-menu-trigger][data-state="open"] {
  background-color: var(--background-base);
  outline: 1px solid var(--border-accent-inverted);
}

.button-ghost.button-loading:hover,
.button-ghost.button-loading:active,
.button-ghost.button-loading[data-radix-popover-trigger][data-state="open"],
.button-ghost.button-loading[data-radix-dropdown-menu-trigger][data-state="open"] {
  background-color: var(--background-base);
  outline: 1px dashed var(--border-base);
}

.button-danger.button-loading:hover,
.button-danger.button-loading:active,
.button-danger.button-loading[data-radix-popover-trigger][data-state="open"],
.button-danger.button-loading[data-radix-dropdown-menu-trigger][data-state="open"] {
  background-color: var(--background-danger-inverted);
}

.button-text.button-loading:hover,
.button-text.button-loading:active,
.button-text.button-loading[data-radix-popover-trigger][data-state="open"],
.button-text.button-loading[data-radix-dropdown-menu-trigger][data-state="open"] {
  background-color: var(--background-base);
}

/* TODO: Replace this after Spinner component is built. */
.loader {
  border: 2px solid var(--background-base);
  border-top: 2px solid var(--foreground-base);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 1s linear infinite;
}

.loaderText {
  margin-left: var(--gap-3);
}

/* TODO: Replace this after Spinner component is built. */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loaderOnlyButtonSmall {
  padding: var(--gap-2) var(--gap-6);
}

.loaderOnlyButtonNormal {
  padding: var(--gap-3) var(--gap-8);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: var(--gap-3);
  max-height: var(--gap-3);
}

.icon-leading {
  margin-right: var(--gap-2);
}

.icon-trailing {
  margin-left: var(--gap-2);  
}
