.button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: var(--fs-100);
  font-weight: 500;
  line-height: var(--fs-600);
  width: fit-content;
  transition: background-color var(--transition);
  padding: var(--pd-4) var(--pd-12);
  border-radius: var(--br-4);
}

.button:before {
  box-sizing: border-box;
}

.button:after {
  box-sizing: border-box;
}

.button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.button-small {
  padding-top: var(--pd-4);
  padding-bottom: var(--pd-4);
}

.button-medium {
  padding-top: var(--pd-8);
  padding-bottom: var(--pd-8);
}

.button-large {
  padding-top: var(--pd-12);
  padding-bottom: var(--pd-12);
}

.button-round {
  padding-top: var(--pd-8);
  padding-bottom: var(--pd-8);
  width: 24px;
  height: 24px;
  border-radius: var(--br-round);
}

.button-primary {
  color: var(--ascent-contrast);
  background-color: var(--background-accent-inverted);
}

.button-primary:hover,
.button-primary:active,
.button-primary[data-radix-popover-trigger][data-state="open"],
.button-primary[data-radix-dropdown-menu-trigger][data-state="open"] {
  background-color: var(--background-accent-inverted-hover);
}

.button-outline {
  color: var(--foreground-accent);
  background-color: var(--background-base);
  outline: 1px solid var(--border-accent-inverted);
}

.button-outline:hover,
.button-outline:active,
.button-outline[data-radix-popover-trigger][data-state="open"],
.button-outline[data-radix-dropdown-menu-trigger][data-state="open"] {
  background-color: var(--background-accent);
  outline: 1px solid var(--border-accent-inverted-hover);
}

.button-secondary {
  color: var(--foreground-base);
  background-color: var(--background-base);
  outline: 1px solid var(--border-base);
}

.button-secondary:hover,
.button-secondary:active,
.button-secondary[data-radix-popover-trigger][data-state="open"],
.button-secondary[data-radix-dropdown-menu-trigger][data-state="open"] {
  background-color: var(--background-base-hover);
  outline: 1px solid var(--border-base-hover);
}

.button-ghost {
  color: var(--foreground-base);
  background-color: var(--background-base);
  outline: 1px dotted var(--border-base);
}

.button-ghost:hover,
.button-ghost:active,
.button-ghost[data-radix-popover-trigger][data-state="open"],
.button-ghost[data-radix-dropdown-menu-trigger][data-state="open"] {
  background-color: var(--background-base-hover);
  outline: 1px dotted var(--border-base-hover);
}

.button-danger {
  color: var(--ascent-contrast);
  background-color: var(--background-danger-inverted);
}

.button-danger:hover,
.button-danger:active,
.button-danger[data-radix-popover-trigger][data-state="open"],
.button-danger[data-radix-dropdown-menu-trigger][data-state="open"] {
  background-color: var(--background-danger-inverted-hover);
}
