*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;

    background-color: var(--colors-loContrast);
    color: var(--colors-hiContrast);
}

svg {
    display: block;
    vertical-align: middle;
}

pre[class*=language-] {
    color: #fff;
    background: #011627;
    border-radius: 8px
}