.trigger {
  width: fit-content;
  display: flex;
}
.positioner {
  z-index: var(--rs-z-index-portal);
}

.content {
  position: relative;
  box-sizing: border-box;
  padding: var(--rs-space-2) var(--rs-space-3);
  border-radius: var(--rs-radius-2);
  background: var(--rs-color-background-base-primary);
  border: 0.5px solid var(--rs-color-border-base-primary);
  box-shadow: var(--rs-shadow-lifted);
  color: var(--rs-color-foreground-base-primary);
  font-size: var(--rs-font-size-mini);
  font-weight: var(--rs-font-weight-medium);
  line-height: var(--rs-line-height-mini);
  letter-spacing: var(--rs-letter-spacing-mini);
  width: fit-content;
  max-width: 400px;
  animation-duration: 400ms;
  transform-origin: var(--transform-origin);
}

.content[data-open][data-side="top"]:not([data-instant]) {
  animation-name: slideDownAndFade;
}

.content[data-open][data-side="right"]:not([data-instant]) {
  animation-name: slideLeftAndFade;
}

.content[data-open][data-side="bottom"]:not([data-instant]) {
  animation-name: slideUpAndFade;
}

.content[data-open][data-side="left"]:not([data-instant]) {
  animation-name: slideRightAndFade;
}
.content[data-side="top"][data-align="start"]:not([data-instant]) {
  animation-name: slideDownRightAndFade;
}

.content[data-side="top"][data-align="end"]:not([data-instant]) {
  animation-name: slideDownLeftAndFade;
}

.content[data-side="bottom"][data-align="start"]:not([data-instant]) {
  animation-name: slideUpRightAndFade;
}

.content[data-side="bottom"][data-align="end"]:not([data-instant]) {
  animation-name: slideUpLeftAndFade;
}

.arrow svg {
  color: var(--rs-color-background-base-primary);
}
.arrow {
  z-index: var(--rs-z-index-portal);
  filter: drop-shadow(0 1px 0 var(--rs-color-border-base-primary))
    drop-shadow(0 1px 1px var(--rs-color-border-base-primary));
}

/* Arrow positioning based on side */
.arrow[data-side="top"] {
  bottom: -7px;
}

.arrow[data-side="bottom"] {
  transform: translateY(-100%) rotate(180deg);
  top: 0;
}

.arrow[data-side="left"],
.arrow[data-side="inline-start"] {
  right: 0;
  transform: translateY(-50%) translateX(100%) rotate(-90deg);
}

.arrow[data-side="right"],
.arrow[data-side="inline-end"] {
  left: 0;
  transform: translateY(-50%) translateX(-100%) rotate(90deg);
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
}
@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
}

@keyframes slideDownRightAndFade {
  from {
    opacity: 0;
    transform: translate(-2px, -2px);
  }
}

@keyframes slideDownLeftAndFade {
  from {
    opacity: 0;
    transform: translate(2px, -2px);
  }
}

@keyframes slideUpRightAndFade {
  from {
    opacity: 0;
    transform: translate(-2px, 2px);
  }
}

@keyframes slideUpLeftAndFade {
  from {
    opacity: 0;
    transform: translate(2px, 2px);
  }
}
