.editor pre {
  border: none;
}
.editor pre span[class="token-line"] {
  line-height: 1.5rem;
  counter-increment: line;
}
.editor pre span[class="token-line"]::before {
  content: counter(line);
  display: inline-block;

  padding: 0 0.5em;
  margin-right: 0.5em;
}
