.navbar {
  display: flex;
  gap: 36px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  height: var(--fd-nav-height);
  padding: 8px 16px;
  background: hsl(var(--fd-popover) / 1);
  border-bottom: 1px solid hsl(var(--fd-border) / 1);
  justify-content: space-between;
}
.links {
  display: flex;
  gap: 20px;
  align-items: center;
}
.link {
  font-size: 14px;
  color: hsl(var(--fd-muted-foreground) / 1);
  transition: color 0.2s ease;
}
.link:hover {
  color: hsl(var(--fd-foreground) / 1);
}
.active {
  color: hsl(var(--fd-foreground) / 1);
  font-weight: 500;
}
.link svg {
  color: currentColor;
}
