:root {
    --accent-1: var(--light-1);
    --accent-2: var(--light-2);
    --accent-3: var(--light-3);
    --accent-4: var(--light-4);
    --accent-5: var(--light-5);
    --accent-6: var(--light-6);
    --accent-7: var(--light-7);
    --accent-8: var(--light-8);
    --accent-9: var(--light-9);
    --accent-10: var(--light-10);
    --accent-11: var(--light-11);
    --accent-12: var(--light-12);
    --neutral-1: var(--light-1);
    --neutral-2: var(--light-2);
    --neutral-3: var(--light-3);
    --neutral-4: var(--light-4);
    --neutral-5: var(--light-5);
    --neutral-6: var(--light-6);
    --neutral-7: var(--light-7);
    --neutral-8: var(--light-8);
    --neutral-9: var(--light-9);
    --neutral-10: var(--light-10);
    --neutral-11: var(--light-11);
    --neutral-12: var(--light-12);
    --attention-1: #fefdfb;
    --attention-2: #fff9ed;
    --attention-3: #fff4d5;
    --attention-4: #ffecbc;
    --attention-5: #ffe3a2;
    --attention-6: #ffd386;
    --attention-7: #f3ba63;
    --attention-8: #ee9d2b;
    --attention-9: #ffb224;
    --attention-10: #ffa01c;
    --attention-11: #ad5700;
    --attention-12: #4e2009;
    --success-1: #fbfefc;
    --danger-1: #fffcfc;
    --success-2: #f2fcf5;
    --success-3: #e9f9ee;
    --success-4: #ddf3e4;
    --success-5: #ccebd7;
    --success-6: #b4dfc4;
    --success-7: #92ceac;
    --success-8: #5bb98c;
    --success-9: #30a46c;
    --success-10: #299764;
    --success-11: #18794e;
    --success-12: #153226;
    --danger-2: #fff8f8;
    --danger-3: #ffefef;
    --danger-4: #ffe5e5;
    --danger-5: #fdd8d8;
    --danger-6: #f9c6c6;
    --danger-7: #f3aeaf;
    --danger-8: #eb9091;
    --danger-9: #e5484d;
    --danger-10: #dc3d43;
    --danger-11: #cd2b31;
    --danger-12: #381316;
    --accent-contrast: var(--light-contrast);
    --viz-sky-11: #00749e;
    --viz-sky-9: #7ce2fe;
    --viz-sky-8: #60b3d7;
    --viz-sky-6: #a9daed;
    --viz-mint-11: #027864;
    --viz-mint-9: #86ead4;
    --viz-mint-8: #4cbba5;
    --viz-mint-6: #9ce0d0;
    --viz-lime-11: #5c7c2f;
    --viz-lime-9: #bdee63;
    --viz-lime-8: #8db654;
    --viz-lime-6: #c2da91;
    --viz-grass-11: #2a7e3b;
    --viz-grass-9: #46a758;
    --viz-grass-8: #65ba74;
    --viz-grass-6: #b2ddb5;
    --viz-green-11: #218358;
    --viz-green-9: #30a46c;
    --viz-green-8: #5bb98b;
    --viz-green-6: #adddc0;
    --viz-jade-11: #208368;
    --viz-jade-9: #29a383;
    --viz-jade-8: #56ba9f;
    --viz-jade-6: #acdec8;
    --viz-cyan-11: #107d98;
    --viz-cyan-9: #00a2c7;
    --viz-cyan-8: #3db9cf;
    --viz-cyan-6: #9ddde7;
    --viz-blue-11: #0d74ce;
    --viz-blue-9: #0090ff;
    --viz-blue-8: #5eb1ef;
    --viz-blue-6: #acd8fc;
    --viz-iris-11: #5753c6;
    --viz-iris-9: #5b5bd6;
    --viz-iris-8: #9b9ef0;
    --viz-iris-6: #cbcdff;
    --viz-purple-11: #8145b5;
    --viz-purple-9: #8e4ec6;
    --viz-purple-8: #be93e4;
    --viz-purple-6: #e0c4f4;
    --viz-pink-11: #c2298a;
    --viz-pink-9: #d6409f;
    --viz-pink-8: #dd93c2;
    --viz-pink-6: #efbfdd;
    --viz-crimson-11: #cb1d63;
    --viz-crimson-9: #e93d82;
    --viz-crimson-8: #e093b2;
    --viz-crimson-6: #f3bed1;
    --viz-orange-11: #cc4e00;
    --viz-orange-9: #f76b15;
    --viz-orange-8: #ec9455;
    --viz-orange-6: #ffc182;
    --viz-gold-11: #71624b;
    --viz-gold-9: #978365;
    --viz-gold-8: #b9a88d;
    --viz-gold-6: #d8d0bf;
    --danger-contrast: #ffffff;
    --attention-contrast: #000000;
    --success-contrast: #ffffff;
}

html[data-theme="dark"] {
    --accent-1: var(--dark-1);
    --accent-2: var(--dark-2);
    --accent-3: var(--dark-3);
    --accent-4: var(--dark-4);
    --accent-5: var(--dark-5);
    --accent-6: var(--dark-6);
    --accent-7: var(--dark-7);
    --accent-8: var(--dark-8);
    --accent-9: var(--dark-9);
    --accent-10: var(--dark-10);
    --accent-11: var(--dark-11);
    --accent-12: var(--dark-12);
    --neutral-1: var(--dark-1);
    --neutral-2: var(--dark-2);
    --neutral-3: var(--dark-3);
    --neutral-4: var(--dark-4);
    --neutral-5: var(--dark-5);
    --neutral-6: var(--dark-6);
    --neutral-7: var(--dark-7);
    --neutral-8: var(--dark-8);
    --neutral-9: var(--dark-9);
    --neutral-10: var(--dark-10);
    --neutral-11: var(--dark-11);
    --neutral-12: var(--dark-12);
    --attention-1: #1f1300;
    --attention-2: #271700;
    --attention-3: #341c00;
    --attention-4: #3f2200;
    --attention-5: #4a2900;
    --attention-6: #573300;
    --attention-7: #693f05;
    --attention-8: #824e00;
    --attention-9: #ffb224;
    --attention-10: #ffcb47;
    --attention-11: #f1a10d;
    --attention-12: #fef3dd;
    --success-1: #0d1912;
    --danger-1: #1f1315;
    --success-2: #0f1e13;
    --success-3: #132819;
    --success-4: #16301d;
    --success-5: #193921;
    --success-6: #1d4427;
    --success-7: #245530;
    --success-8: #2f6e3b;
    --success-9: #46a758;
    --success-10: #55b467;
    --success-11: #63c174;
    --success-12: #e5fbeb;
    --danger-2: #291415;
    --danger-3: #3c181a;
    --danger-4: #481a1d;
    --danger-5: #541b1f;
    --danger-6: #671e22;
    --danger-7: #822025;
    --danger-8: #aa2429;
    --danger-9: #e5484d;
    --danger-10: #f2555a;
    --danger-11: #ff6369;
    --danger-12: #feecee;
    --accent-contrast: var(--dark-contrast);
    --viz-sky-11: #75c7f0;
    --viz-sky-9: #7ce2fe;
    --viz-sky-8: #197cae;
    --viz-sky-6: #1b537b;
    --viz-mint-11: #58d5ba;
    --viz-mint-9: #86ead4;
    --viz-mint-8: #277f70;
    --viz-mint-6: #105650;
    --viz-lime-11: #bde56c;
    --viz-lime-9: #bdee63;
    --viz-lime-8: #577538;
    --viz-lime-6: #3d522a;
    --viz-grass-11: #71d083;
    --viz-grass-9: #46a758;
    --viz-grass-8: #3e7949;
    --viz-grass-6: #2d5736;
    --viz-green-11: #3dd68c;
    --viz-green-9: #30a46c;
    --viz-green-8: #2f7c57;
    --viz-green-6: #20573e;
    --viz-jade-11: #1fd8a4;
    --viz-jade-9: #29a383;
    --viz-jade-8: #2a7e68;
    --viz-jade-6: #1b5745;
    --viz-cyan-11: #4ccce6;
    --viz-cyan-9: #00a2c7;
    --viz-cyan-8: #11809c;
    --viz-cyan-6: #045468;
    --viz-blue-11: #70b8ff;
    --viz-blue-9: #0090ff;
    --viz-blue-8: #2870bd;
    --viz-blue-6: #104d87;
    --viz-iris-11: #b1a9ff;
    --viz-iris-9: #5b5bd6;
    --viz-iris-8: #5958b1;
    --viz-iris-6: #3d3e82;
    --viz-purple-11: #d19dff;
    --viz-purple-9: #8e4ec6;
    --viz-purple-8: #8457aa;
    --viz-purple-6: #54346b;
    --viz-pink-11: #ff8dcc;
    --viz-pink-9: #d6409f;
    --viz-pink-8: #a84885;
    --viz-pink-6: #692955;
    --viz-crimson-11: #ff92ad;
    --viz-crimson-9: #e93d82;
    --viz-crimson-8: #b0436e;
    --viz-crimson-6: #6d2545;
    --viz-orange-11: #ffa057;
    --viz-orange-9: #f76b15;
    --viz-orange-8: #a35829;
    --viz-orange-6: #66350c;
    --viz-gold-11: #cbb99f;
    --viz-gold-9: #978365;
    --viz-gold-8: #696256;
    --viz-gold-6: #444039;
    --danger-contrast: #ffffff;
    --attention-contrast: #000000;
    --success-contrast: #ffffff;
}