:root {
    --foreground-base-primary: var(--neutral-12);
    --foreground-base-secondary: var(--neutral-11);
    --foreground-base-tertiary: var(--neutral-10);
    --foreground-base-emphasis: var(--neutral-1);
    --foreground-accent-primary: var(--accent-9);
    --foreground-attention-primary: var(--attention-9);
    --foreground-danger-primary: var(--danger-9);
    --foreground-success-primary: var(--success-9);
    --background-base-primary: var(--neutral-1);
    --background-neutral-secondary: var(--neutral-4);
    --background-base-secondary: var(--neutral-2);
    --background-neutral-tertiary: var(--neutral-9);
    --background-accent-primary: var(--accent-4);
    --background-base-primary-hover: var(--neutral-3);
    --background-neutral-secondary-hover: var(--neutral-5);
    --background-accent-emphasis: var(--accent-9);
    --background-accent-emphasis-hover: var(--accent-10);
    --background-attention-primary: var(--attention-4);
    --background-attention-emphasis: var(--attention-9);
    --background-danger-primary: var(--danger-4);
    --background-danger-emphasis: var(--danger-9);
    --background-danger-emphasis-hover: var(--danger-10);
    --background-success-primary: var(--success-4);
    --background-success-emphasis: var(--success-9);
    --border-base-tertiary: var(--neutral-7);
    --border-base-focus: var(--neutral-8);
    --border-base-primary: var(--neutral-4);
    --border-accent-primary: var(--accent-7);
    --border-accent-emphasis: var(--accent-9);
    --border-accent-emphasis-hover: var(--accent-10);
    --border-attention-primary: var(--attention-7);
    --border-attention-emphasis: var(--attention-9);
    --border-danger-primary: var(--danger-7);
    --border-danger-emphasis: var(--danger-9);
    --border-danger-emphasis-hover: var(--danger-10);
    --border-success-primary: var(--success-7);
    --border-success-emphasis: var(--success-9);
    --overlay-black-black-a1: #000000;
    --overlay-black-black-a2: #000000;
    --overlay-black-black-a3: #000000;
    --overlay-black-black-a4: #000000;
    --overlay-black-black-a5: #000000;
    --overlay-black-black-a6: #000000;
    --overlay-black-black-a7: #000000;
    --overlay-black-black-a8: #000000;
    --overlay-black-black-a9: #000000;
    --overlay-black-black-a10: #000000;
    --overlay-black-black-a11: #000000;
    --overlay-black-black-a12: #000000;
    --overlay-white-white-a1: #ffffff;
    --overlay-white-white-a2: #ffffff;
    --overlay-white-white-a3: #ffffff;
    --overlay-white-white-a4: #ffffff;
    --overlay-white-white-a5: #ffffff;
    --overlay-white-white-a6: #ffffff;
    --overlay-white-white-a7: #ffffff;
    --overlay-white-white-a8: #ffffff;
    --overlay-white-white-a9: #ffffff;
    --overlay-white-white-a10: #ffffff;
    --overlay-white-white-a11: #ffffff;
    --overlay-white-white-a12: #ffffff;
    --foreground-accent-primary-hover: var(--accent-11);
    --foreground-attention-primary-hover: var(--attention-11);
    --foreground-danger-primary-hover: var(--danger-11);
    --foreground-success-primary-hover: var(--success-11);
    --background-neutral-primary: var(--neutral-3);
    --background-neutral-tertiary-hover: var(--neutral-10);
    --background-attention-emphasis-hover: var(--attention-10);
    --background-success-emphasis-hover: var(--success-10);
    --border-base-secondary: var(--neutral-6);
    --border-attention-emphasis-hover: var(--attention-10);
    --border-success-emphasis-hover: var(--success-10);
    --foreground-accent-emphasis: var(--accent-contrast);
    --foreground-danger-emphasis: var(--danger-contrast);
    --foreground-attention-emphasis: var(--attention-contrast);
    --foreground-success-emphasis: var(--success-contrast);
    --visualization-sky-sky-11: var(--viz-sky-11);
    --visualization-sky-sky-9: var(--viz-sky-9);
    --visualization-sky-sky-8: var(--viz-sky-8);
    --visualization-sky-sky-6: var(--viz-sky-6);
    --visualization-mint-mint-11: var(--viz-mint-11);
    --visualization-lime-lime-11: var(--viz-mint-6);
    --visualization-grass-grass-11: var(--viz-grass-11);
    --visualization-green-green-11: var(--viz-green-11);
    --visualization-jade-jade-11: var(--viz-jade-11);
    --visualization-cyan-cyan-11: var(--viz-cyan-11);
    --visualization-blue-blue-11: var(--viz-blue-11);
    --visualization-iris-iris-11: var(--viz-iris-11);
    --visualization-purple-purple-11: var(--viz-purple-11);
    --visualization-pink-pink-11: var(--viz-pink-11);
    --visualization-crimson-crimson-11: var(--viz-crimson-11);
    --visualization-orange-organe-11: var(--viz-orange-11);
    --visualization-gold-gold-11: var(--viz-gold-11);
    --visualization-mint-mint-9: var(--viz-mint-9);
    --visualization-mint-mint-8: var(--viz-mint-8);
    --visualization-mint-mint-6: var(--viz-mint-6);
    --visualization-lime-lime-9: var(--viz-lime-9);
    --visualization-lime-lime-8: var(--viz-lime-8);
    --visualization-lime-lime-6: var(--viz-lime-6);
    --visualization-grass-grass-6: var(--viz-grass-6);
    --visualization-grass-grass-9: var(--viz-grass-9);
    --visualization-grass-grass-8: var(--viz-grass-8);
    --visualization-green-green-9: var(--viz-green-9);
    --visualization-green-green-8: var(--viz-green-8);
    --visualization-green-green-6: var(--viz-green-6);
    --visualization-gold-gold-9: var(--viz-gold-9);
    --visualization-gold-gold-8: var(--viz-gold-8);
    --visualization-gold-gold-6: var(--viz-gold-6);
    --visualization-orange-organe-9: var(--viz-orange-9);
    --visualization-orange-organe-8: var(--viz-orange-8);
    --visualization-orange-organe-6: var(--viz-orange-6);
    --visualization-crimson-crimson-9: var(--viz-crimson-9);
    --visualization-crimson-crimson-8: var(--viz-crimson-8);
    --visualization-crimson-crimson-6: var(--viz-crimson-6);
    --visualization-pink-pink-9: var(--viz-pink-9);
    --visualization-pink-pink-8: var(--viz-pink-8);
    --visualization-pink-pink-6: var(--viz-pink-6);
    --visualization-iris-iris-9: var(--viz-iris-9);
    --visualization-iris-iris-8: var(--viz-iris-8);
    --visualization-iris-iris-6: var(--viz-iris-6);
    --visualization-purple-purple-9: var(--viz-purple-9);
    --visualization-purple-purple-8: var(--viz-purple-8);
    --visualization-purple-purple-6: var(--viz-purple-6);
    --visualization-blue-blue-9: var(--viz-blue-9);
    --visualization-blue-blue-8: var(--viz-blue-8);
    --visualization-blue-blue-6: var(--viz-blue-6);
    --visualization-cyan-cyan-9: var(--viz-cyan-9);
    --visualization-cyan-cyan-8: var(--viz-cyan-8);
    --visualization-cyan-cyan-6: var(--viz-cyan-6);
    --visualization-jade-jade-9: var(--viz-jade-9);
    --visualization-jade-jade-8: var(--viz-jade-8);
    --visualization-jade-jade-6: var(--viz-jade-6);
    --border-base-emphasis: var(--neutral-12);
    --background-neutral-emphasis: var(--neutral-12);
}