:root {
    --space-1: 2px;
    --space-2: 4px;
    --space-3: 8px;
    --space-4: 12px;
    --space-5: 16px;
    --space-6: 20px;
    --space-7: 24px;
    --space-8: 28px;
    --space-9: 32px;
    --space-10: 40px;
    --space-11: 48px;
    --space-12: 56px;
    --space-13: 64px;
    --space-14: 72px;
    --space-15: 80px;
    --space-16: 96px;
    --space-17: 120px;
}