:root {
    --rs-space-1: 2px;
    --rs-space-2: 4px;
    --rs-space-3: 8px;
    --rs-space-4: 12px;
    --rs-space-5: 16px;
    --rs-space-6: 20px;
    --rs-space-7: 24px;
    --rs-space-8: 28px;
    --rs-space-9: 32px;
    --rs-space-10: 40px;
    --rs-space-11: 48px;
    --rs-space-12: 56px;
    --rs-space-13: 64px;
    --rs-space-14: 72px;
    --rs-space-15: 80px;
    --rs-space-16: 96px;
    --rs-space-17: 120px;
}