@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap");

:root {
  /* Fonts */
  --rs-font-inter: "Inter";
  --rs-font-lora: "Lora";
  --rs-font-josefin-sans: "Josefin Sans";
  --rs-font-jetbrains-mono: "JetBrains Mono";
  --rs-font-menlo: "Menlo";

  /* Font Families */
  --rs-font-title: var(--rs-font-inter), sans-serif;
  --rs-font-body: var(--rs-font-inter), sans-serif;
  --rs-font-mono: var(--rs-font-menlo), var(--rs-font-jetbrains-mono), monospace;

  /* Font Weights */
  --rs-font-weight-regular: 400;
  --rs-font-weight-medium: 500;

  /* Body Font Sizes */
  --rs-font-size-micro: 10px;
  --rs-font-size-mini: 11px;
  --rs-font-size-small: 12px;
  --rs-font-size-regular: 14px;
  --rs-font-size-large: 16px;

  /* Body Line Heights */
  --rs-line-height-micro: 12px;
  --rs-line-height-mini: 16px;
  --rs-line-height-small: 16px;
  --rs-line-height-regular: 20px;
  --rs-line-height-large: 24px;

  /* Body Letter spacing */
  --rs-letter-spacing-micro: 0.5px;
  --rs-letter-spacing-mini: 0.5px;
  --rs-letter-spacing-small: 0.4px;
  --rs-letter-spacing-regular: 0.25px;
  --rs-letter-spacing-large: 0.5px;

  /* Title Font Sizes */
  --rs-font-size-t1: 20px;
  --rs-font-size-t2: 24px;
  --rs-font-size-t3: 28px;
  --rs-font-size-t4: 32px;

  /* Title Line Heights */
  --rs-line-height-t1: 24px;
  --rs-line-height-t2: 32px;
  --rs-line-height-t3: 36px;
  --rs-line-height-t4: 40px;

  /* Title Letter Spacing */
  --rs-letter-spacing-t1: 0;
  --rs-letter-spacing-t2: 0;
  --rs-letter-spacing-t3: 0;
  --rs-letter-spacing-t4: 0;

  /* Mono Font Sizes */
  --rs-font-size-mono-mini: 11px;
  --rs-font-size-mono-small: 12px;
  --rs-font-size-mono-regular: 14px;
  --rs-font-size-mono-large: 16px;

  /* Mono Line Heights */
  --rs-line-height-mono-mini: 16px;
  --rs-line-height-mono-small: 16px;
  --rs-line-height-mono-regular: 20px;
  --rs-line-height-mono-large: 24px;

  /* Mono Letter Spacing */
  --rs-letter-spacing-mono-mini: 0px;
  --rs-letter-spacing-mono-small: 0px;
  --rs-letter-spacing-mono-regular: 0px;
  --rs-letter-spacing-mono-large: 0px;
}

[data-style="traditional"] {
  --rs-font-title: var(--rs-font-lora), serif;
  --rs-font-body: var(--rs-font-josefin-sans), sans-serif;
}

body {
  /* Default Font */
  font-family: var(--rs-font-body);

  /* Font Smoothing */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: var(--rs-font-title);
  font-size: var(--rs-font-size-t4);
  font-weight: var(--rs-font-weight-medium);
  line-height: var(--rs-line-height-t1);
}
h2 {
  font-family: var(--rs-font-title);
  font-size: var(--rs-font-size-t3);
  font-weight: var(--rs-font-weight-medium);
  line-height: var(--rs-line-height-t1);
}
h3 {
  font-family: var(--rs-font-title);
  font-size: var(--rs-font-size-t2);
  font-weight: var(--rs-font-weight-medium);
  line-height: var(--rs-line-height-t1);
}
h4 {
  font-family: var(--rs-font-title);
  font-size: var(--rs-font-size-t1);
  font-weight: var(--rs-font-weight-medium);
  line-height: var(--rs-line-height-t1);
}

/* CSS for the text cursor */
input,
textarea {
  caret-color: var(--rs-color-border-accent-emphasis);
}

/* Keyframe Animation */
@keyframes dissolve-hide {
  0%,
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
