.iconButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--rs-color-background-base-primary);
  border-radius: var(--rs-radius-1);
  border: none;
  color: var(--rs-color-text-base-primary);
  cursor: pointer;
  transition: all 0.2s ease;
  padding: var(--rs-space-1);
}

.iconButton > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconButton:hover:not(:disabled) {
  background-color: var(--rs-color-background-base-primary-hover);
}

.iconButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  color: var(--rs-color-text-base-secondary);
}

.iconButton:active:not(:disabled) {
  background-color: var(--rs-color-background-neutral-secondary); 
}

.iconButton-size-1 {
  width: var(--rs-space-4);
  height: var(--rs-space-4);
}
.iconButton-size-1 > div, .iconButton-size-1 > div > * {
  width: 8px;
  height: 8px;
}

.iconButton-size-2 {
  width: var(--rs-space-5);
  height: var(--rs-space-5);
}
.iconButton-size-2 > div, .iconButton-size-2 > div > * {
  width: 12px;
  height: 12px;
}

.iconButton-size-3 {
  width: var(--rs-space-6);
  height: var(--rs-space-6);
}
.iconButton-size-3 > div, .iconButton-size-3 > div > * {
  width: 16px;
  height: 16px;
}

.iconButton-size-4 {
  width: var(--rs-space-7);
  height: var(--rs-space-7);
}
.iconButton-size-4 > div, .iconButton-size-4 > div > * {
  width: 20px;
  height: 20px;
}
