.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.clearButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 30;
}

.clearButton {
  color: var(--rs-color-foreground-base-tertiary) !important;
  z-index: 30;
}

.clearButton:hover {
  color: var(--rs-color-foreground-base-secondary) !important;
}

.clearButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.clearButton svg {
  width: 12px;
  height: 12px;
}