.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.clearButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--rs-color-foreground-base-tertiary);
  background: none;
  border: none;
  padding: var(--rs-space-1);
  cursor: pointer;
  outline: none;
}

.clearButton:hover {
  color: var(--rs-color-foreground-base-secondary);
}

.clearButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.clearButton svg {
  width: 12px;
  height: 12px;
}