.headline {
  display: block;
  line-height: 1;
  margin: 0;
  font-weight: 400;
  color: var(--foreground-base)
}

.headline-small {
  font-size: 24px;
  line-height: 32px;
}
.headline-medium {
  font-size: 28px;
  line-height: 36px;
}
.headline-large {
  font-size: 32px;
  line-height: 40px;
}