.area {
  position: relative;
  overflow: hidden;
  display: flex;
  height: 100%;
  --scrollbar-size: 4px;
}

.scrollbar {
  width: 4px;
  display: flex;
  user-select: none;
  /* disable browser handling of all panning and zooming gestures on touch devices */
  touch-action: none;
  background: var(--background-inset);
  transition: background 160ms ease-out;
}


.scrollbar[data-orientation='vertical'] {
  width: var(--scrollbar-size);
}
.scrollbar[data-orientation='horizontal'] {
  flex-direction: column;
  height: var(--scrollbar-size);
}

.scrollbarthumb {
  flex: 1;
  background: var(--border-base);
  border-radius: var(--scrollbar-size);
  position: relative;
}
/* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
.scrollbarthumb::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 44px;
  min-height: 44px;
}