.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
}

.header {
  display: flex;
  padding: var(--rs-space-3) 0;
  gap: var(--rs-space-3);
  /* border-bottom: 1px solid var(--rs-color-border-base-primary); */
  background: var(--rs-color-background-base-primary);
}

.header-text {
  font-size: var(--rs-font-size-small);
  font-weight: var(--rs-font-weight-medium);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
  text-align: left;
  color: var(--rs-color-foreground-base-tertiary);
}

.list-item {
  display: flex;
  gap: var(--rs-space-4);
  padding-top: var(--rs-space-4);
  padding-bottom: var(--rs-space-4);
  background-color: var(--rs-color-background-base-primary);
  color: var(--rs-color-foreground-base-primary);
}

.label {
  font-size: var(--rs-font-size-small);
  font-weight: var(--rs-font-weight-medium);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--rs-color-foreground-base-secondary);
}

.value {
  flex: 1;
  font-size: var(--rs-font-size-small);
  font-weight: var(--rs-font-weight-medium);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--rs-color-foreground-base-primary);
}
