// @import '../../style/themes/index';
// @import '../../style/mixins/index';
@import './mixin';

@screen-sm-min: 576px;
@screen-md-min: 768px;
@screen-lg-min: 992px;
@screen-xl-min: 1200px;
@screen-xxl-min: 1600px;

// Grid system
.custom-row {
  display: flex;
  flex-flow: row wrap;

  &::before,
  &::after {
    display: flex;
  }

  // No wrap of flex
  &-no-wrap {
    flex-wrap: nowrap;
  }
}

// x轴原点
.custom-row-start {
  justify-content: flex-start;
}

// x轴居中
.custom-row-center {
  justify-content: center;
}

// x轴反方向
.custom-row-end {
  justify-content: flex-end;
}

// x轴平分
.custom-row-space-between {
  justify-content: space-between;
}

// x轴有间隔地平分
.custom-row-space-around {
  justify-content: space-around;
}

// x轴有间隔地均分
.custom-row-space-evenly {
  justify-content: space-evenly;
}

// 顶部对齐
.custom-row-top {
  align-items: flex-start;
}

// 居中对齐
.custom-row-middle {
  align-items: center;
}

// 底部对齐
.custom-row-bottom {
  align-items: flex-end;
}

.custom-col {
  position: relative;
  max-width: 100%;
  // Prevent columns from collapsing when empty
  min-height: 1px;
}

.make-grid();

// Extra small grid
//
// Columns, offsets, pushes, and pulls for extra small devices like
// smartphones.

.make-grid(-xs);

// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

@media (min-width: @screen-sm-min) {
  .make-grid(-sm);
}

// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

@media (min-width: @screen-md-min) {
  .make-grid(-md);
}

// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: @screen-lg-min) {
  .make-grid(-lg);
}

// Extra Large grid
//
// Columns, offsets, pushes, and pulls for the full hd device range.

@media (min-width: @screen-xl-min) {
  .make-grid(-xl);
}

// Extra Extra Large grid
//
// Columns, offsets, pushes, and pulls for the full hd device range.

@media (min-width: @screen-xxl-min) {
  .make-grid(-xxl);
}

@import './rtl';
