.container {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.container.large {
  gap: 16px;
  font-size: 2rem;
  font-weight: bold;
}
html[data-theme="dark"] .container {
  filter: invert(1);
}
