.table {
  width: 100%;
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  caption-side: bottom;
  overflow: visible;
  color: var(--rs-color-foreground-base-primary);
}
