.cell {
  position: relative;
  padding: var(--rs-space-3);
  display: flex;
  align-items: center;
  gap: var(--rs-space-2);
  font-family: var(--rs-font-body);
  font-weight: var(--rs-font-weight-regular);
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
}

.cell:hover,
.cell:focus,
.cell[data-state="open"],
.cell[data-highlighted]:not(.comboboxcell),
.cell.comboboxcell[data-active-item] {
  outline: none;
  cursor: pointer;
  font-family: var(--rs-font-body);
  font-weight: var(--rs-font-weight-regular);
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
  border-radius: var(--rs-radius-2);
  background: var(--rs-color-background-base-primary-hover);
}
.cell[data-disabled] {
  opacity: 0.6;
  pointer-events: none;
}

.leadingIcon {
  display: flex;
  align-items: center;
  color: var(--rs-color-foreground-base-secondary);
}

.trailingIcon {
  display: flex;
  align-items: center;
  color: var(--rs-color-foreground-base-secondary);
  margin-left: auto;
}
