.content {
  overflow: hidden;
  z-index: 80;
  font-family: var(--rs-font-body);
  font-weight: var(--rs-font-weight-regular);
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
  box-sizing: border-box;
  min-width: 80px;

  padding: var(--rs-space-2);
  background-color: var(--rs-color-background-base-primary);
  border-radius: var(--rs-radius-2);
  box-shadow: var(--rs-shadow-lifted);
  border: 1px solid var(--rs-color-border-base-primary);
  color: var(--rs-color-foreground-base-primary);
  min-width: var(--radix-dropdown-menu-trigger-width);
}

.menuitem {
  position: relative;
  padding: var(--rs-space-3);
  display: flex;
  align-items: center;
  gap: var(--rs-space-2);
  font-family: var(--rs-font-body);
  font-weight: var(--rs-font-weight-regular);
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
}

.menuitem:hover,
.menuitem:focus,
.menuitem[data-highlighted] {
  outline: none;
  cursor: pointer;
  font-family: var(--rs-font-body);
  font-weight: var(--rs-font-weight-regular);
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
  border-radius: var(--rs-radius-2);
  background: var(--rs-color-background-base-primary-hover);
}

.menuitem[data-disabled] {
  opacity: 0.6;
  pointer-events: none;
}

.label {
  padding: 6px var(--rs-space-3);
  font-weight: var(--rs-font-weight-medium);
  font-size: var(--rs-font-size-mini);
}

.separator {
  height: 1px;
  margin: var(--rs-space-2) calc(var(--rs-space-3) * -1);
  background: var(--rs-color-border-base-primary);
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--rs-space-4);
  text-align: center;
}

.leadingIcon {
  display: flex;
  align-items: center;
  color: var(--rs-color-foreground-base-secondary);
}

.trailingIcon {
  display: flex;
  align-items: center;
  color: var(--rs-color-foreground-base-secondary);
  margin-left: auto;
}
