.root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.list {
  display: flex;
  align-items: center;
  gap: var(--rs-space-2);
  background-color: var(--rs-color-background-neutral-secondary);
  padding: var(--rs-space-1);
  border-radius: var(--rs-radius-3);
  width: 100%;
  box-shadow: var(--rs-shadow-inset);
}

.trigger {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--rs-space-2);
  font-size: var(--rs-font-size-small);
  font-weight: var(--rs-font-weight-medium);
  padding: var(--rs-space-2) var(--rs-space-3);
  font-family: var(--rs-font-body);
  color: var(--rs-color-foreground-base-secondary);
  cursor: pointer;
  border-radius: var(--rs-radius-2);
  transition: all 0.2s ease;
  flex: 1;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 28px;
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
  box-sizing: border-box;
}

.trigger:hover:not([data-disabled]) {
  color: var(--rs-color-foreground-base-primary);
}

.trigger[data-state='active'] {
  background-color: var(--rs-color-background-base-primary);
  color: var(--rs-color-foreground-base-primary);
  box-shadow: var(--rs-shadow-feather);
  font-size: var(--rs-font-size-small);
  font-weight: var(--rs-font-weight-medium);
}

.trigger[data-disabled] {
  opacity: 0.5;
  cursor: not-allowed;
  color: var(--rs-color-foreground-base-secondary);
  pointer-events: none;
}

.trigger-icon {
  display: inline-flex;
  width: 16px;
  height: 16px;
  color: currentColor;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.content {
  outline: none;
}

.content[data-state='inactive'] {
  display: none;
} 