.calendarRoot {
  padding: var(--rs-space-5);
  border-radius: var(--rs-radius-4);
  border: 1px solid var(--rs-color-border-base-primary);
  background: var(--rs-color-background-base-primary);
  width: fit-content;
}

.caption_label,
.dropdowns > span,
.dropdown_trigger .dropdown_item_text {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: var(--rs-color-text-base-primary);
  user-select: none;
  font-family: var(--rs-font-body);
  font-style: normal;
}

.caption_label[aria-hidden="true"] {
  display: none;
}

.nav_button {
  position: absolute;
  top: 0;
  border: 0px;
  color: var(--rs-color-text-base-primary);
  background: var(--rs-color-background-base-primary);
  cursor: pointer;
  height: 20px;
}

.nav_button:disabled {
  opacity: 0.5;
  color: var(--rs-color-text-base-tertiary);
}

.nav_button_previous {
  left: 0;
}

.nav_button_next {
  right: 0;
}

.months {
  display: flex;
  gap: var(--rs-space-3);
  position: relative;
}

.nav {
  position: absolute;
  width: 100%;
}

.month_caption {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;
  margin: 0 auto var(--rs-space-4) auto;
}

.day {
  width: var(--rs-space-10, 40px);
  height: var(--rs-space-10, 40px);
  background-color: var(--rs-color-background-base-primary);
  border-radius: var(--rs-radius-2);
  color: var(--rs-color-text-base-primary);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
}

.day:hover:not(.disabled):not(.outside):not(.selected) {
  width: var(--rs-space-10, 40px);
  height: var(--rs-space-10, 40px);
  flex-shrink: 0;
  border-radius: var(--rs-radius-5);
  border: 1px solid var(--rs-color-border-accent-emphasis-hover);
  background-color: transparent;
}

.selected:not(.range_middle) {
  width: var(--rs-space-10, 40px);
  height: var(--rs-space-10, 40px);
  border-radius: var(--rs-radius-5);
  background: var(--rs-color-background-accent-emphasis);

  button {
    color: var(--rs-color-text-base-emphasis);
  }
}

.range_middle {
  border-radius: 0;
  background-color: var(--rs-color-background-base-primary-hover);
  button {
    color: var(--rs-color-text-base-primary);
  }
}

.range_middle:first-of-type {
  border-top-left-radius: var(--rs-radius-5);
  border-bottom-left-radius: var(--rs-radius-5);
}

.range_middle:last-of-type {
  border-top-right-radius: var(--rs-radius-5);
  border-bottom-right-radius: var(--rs-radius-5);
}

.range_start:not(.range_end) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.range_end:not(.range_start) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.week {
  display: flex;
}

.day_button {
  cursor: pointer;
  border: none;
  width: 100%;
  font-size: 12px;
  height: 100%;
  padding: unset;
  display: grid;
  place-content: center;
  background: inherit;
  color: inherit;
  font-weight: inherit;
  border-radius: inherit;
  position: relative;
}

.outside {
  color: var(--rs-color-text-base-tertiary);
}


.range_start,
.range_end {
  color: var(--rs-color-text-base-emphasis);
}

.weekday {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--rs-space-10, 40px);
  height: var(--rs-space-10, 40px);
  color: var(--rs-color-text-base-secondary);
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.4px;
}

.hidden {
  visibility: hidden;
}

.calendarPopover {
  padding: 0 !important;
  border: none !important;
  min-width: max-content;
  width: fit-content;
  max-width: none !important;
}

.dropdowns {
  display: flex;
  align-items: center;
  gap: var(--rs-space-3);
}

.dropdown_trigger,
.dropdown_trigger:focus {
  border: none;
  outline: none;
  box-shadow: none;
  padding: var(--rs-space-1) var(--rs-space-3);
}

.dropdown_trigger:hover {
  background-color: var(--rs-color-background-base-primary-hover);
}

.dropdown_icon {
  margin-left: var(--rs-space-2);
}

.dropdown_content {
  max-height: 400px;
  border: 1px solid var(--rs-color-border-base-primary);
}

.disabled {
  color: var(--rs-color-text-base-tertiary);
  opacity: 0.8;
}

.day.today button::after {
  content: '';
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--rs-color-background-accent-emphasis);
}

.selected.day.today button::after {
  background-color: white;
}

.day_button {
  cursor: pointer;
  border: none;
  width: 100%;
  font-size: 12px;
  height: 100%;
  padding: unset;
  display: grid;
  place-content: center;
  background: inherit;
  color: inherit;
  font-weight: inherit;
  border-radius: inherit;
  position: relative;
}
