.root {
  display: flex;
}

.root[data-orientation="horizontal"] {
  flex-direction: column;
}

.tablist {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  flex-shrink: 0;
  border: none;
  padding: 0;
  gap: var(--pd-4);
  border-radius: var(--br-4);
}

.tablist:focus {
  outline: none;
}

.tablist[data-orientation="vertical"]{
  flex-direction: column;
}

.tablist button {
  color: var(--foreground-muted);
}

.tablist button[data-state="active"] {
  background: var(--background-inset);
  color: var(--foreground-base);
}

.tablist button[data-orientation="vertical"] {
  justify-content: flex-start;
}

.tablist button[data-orientation="vertical"][data-state="active"] {
  background: var(--background-inset);
  color: var(--foreground-base);
}

.tablist-underline button[data-state="active"] {
  background: none;
  color: var(--foreground-accent);
}

.tablist-underline button[data-orientation="vertical"] {
  justify-content: flex-start;
}

.tablist-underline button[data-orientation="vertical"][data-state="active"] {
  background: none;
  color: var(--foreground-accent);
}

.tablist-elevated {
  padding: var(--pd-2);
  background: var(--background-inset);
}

.tablist-elevated button[data-state="active"] {
  background: var(--background-base);
  box-shadow: var(--shadow-xs);
  color: var(--foreground-base);
}

.tablist-elevated button[data-orientation="vertical"] {
  justify-content: flex-start;
}

.tablist-elevated button[data-orientation="vertical"][data-state="active"] {
  background: var(--background-base);
  box-shadow: var(--shadow-xs);
  color: var(--foreground-base);
}


.content {
  flex-grow: 1;
}

.content:focus {
  outline: none;
}

.trigger {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center; 
  flex-shrink: 0;
  border: none;
  font-size: 12px;
  line-height: 16px;
  padding: var(--pd-4) var(--pd-8);
  background: none;
  outline: none;
  border-radius: var(--br-4);
  z-index: 10;
}