.sidebar {
  width: 100%;
  max-width: 220px;
  height: 100%;
  padding: var(--pd-16);
  border-right: 1px solid var(--border-base);
  background: var(--background-base)
}

.navigations {
  width: 100%;
  gap: 2px;
}

.navigationgroup {
  gap: var(--pd-2);
}

.navigationgroupheading {
  gap: var(--pd-8);
  padding: var(--pd-8);
 
}

.navigationgroupcontent {
  padding-left: 24px;
}

.cell {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--pd-8);
  cursor: pointer;
}

.cell:hover,
.active {
  background: var(--background-base-hover);
  border-radius: var(--pd-4)
}

.disabled {
  pointer-events: none;
}

.cellText {
  font-weight: 500;
  color: var(--foreground-base);
}

.footer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}