.avatar {
  display: flex; 
  align-items: center;
  justify-content: center;
  overflow: hidden; 
  position: relative; 
  border: none;
  border-radius: var(--br-round);   
  background: var(--background-inset);
  border: 1px solid transparent;
  width: var(--avatar-size, var(--space-8, 32px));
  height: var(--avatar-size, var(--space-8, 32px));
}

.avatar:hover {
  border: 1px solid var(--border-accent);
}

.avatar-small {
  border-radius: var(--br-4);
}

.avatar-full {
  border-radius: var(--br-round);
}

.avatar-disabled {
  opacity: 0.5;
}

.avatar-solid {
  background: var(--background-solid);
}

.avatar-soft {
  background: var(--background-soft);
}

.imageWrapper {
  position: relative;  
  height: fit-content;
  width: fit-content;
}

.image {
  display: flex;
  object-fit: cover;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.fallback {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--foreground-accent);
}