.avatar {
  display: flex; 
  align-items: center;
  justify-content: center;
  overflow: hidden; 
  position: relative; 
  border: none;
  border-radius: var(--br-round);   
  background: var(--background-inset);
  width: 32px;
  height: 32px;
}

.avatar:hover {
  border: 1px solid var(--border-accent);
}

.avatar-square {
  border-radius: var(--br-4);   
}

.avatar-circle {
  border-radius: var(--br-round);   
}

.avatar-disabled {
  opacity: 0.6 
}

.imageWrapper {
  position: relative;  
  height: fit-content;
  width: fit-content;
}

.image {
  display: flex;
  object-fit: cover;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.fallback {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}