.wrapper {
  position: relative;
  display: inline-block;
}

.indicator {
  position: absolute;
  top: calc(-1 * var(--rs-space-2));
  right: calc(-1 * var(--rs-space-2));
  border-radius: var(--rs-radius-full);
  white-space: nowrap;
  font-weight: var(--rs-font-weight-regular);
  font-size: var(--rs-font-size-micro);
  line-height: var(--rs-line-height-micro);
  letter-spacing: var(--rs-letter-spacing-micro);
}

.label {
  display: inline-block;
  padding: var(--rs-space-1) var(--rs-space-2);
}

.indicator:has(.label) {
  top: calc(-1 * var(--rs-space-4));
  right: calc(-1 * var(--rs-space-6));
}

/* This adjusts the right side spacing if the label is 1 or 2 characters */
.indicator:has(.label[data-length="1"]),
.indicator:has(.label[data-length="2"]) {
  right: calc(-1 * var(--rs-space-3));
}

.dot {
  display: block;
  width: var(--rs-space-3);
  height: var(--rs-space-3);
  border-radius: var(--rs-radius-full);
}

.indicator-variant-accent {
  background-color: var(--rs-color-background-accent-emphasis);
  color: var(--rs-color-foreground-accent-emphasis);
}

.indicator-variant-warning {
  background-color: var(--rs-attention-9);
  color: var(--rs-color-foreground-attention-emphasis);
}

.indicator-variant-danger {
  background-color: var(--rs-color-background-danger-emphasis);
  color: var(--rs-color-foreground-danger-emphasis);
}

.indicator-variant-success {
  background-color: var(--rs-color-background-success-emphasis);
  color: var(--rs-color-foreground-success-emphasis);
}

.indicator-variant-neutral {
  background-color: var(--rs-color-background-neutral-emphasis);
  color: var(--rs-color-foreground-base-emphasis);
}
