.dialogOverlay {
  background-color: var(--rs-color-overlay-black-a7);
  position: fixed;
  inset: 0;
  z-index: 9998;
}

.dialogContent {
  background-color: var(--rs-color-background-base-primary);
  border-radius: var(--rs-radius-4);
  box-shadow: 0px 4px 8px var(--rs-color-overlay-black-a2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  min-width: 200px;
  min-height: 200px;
  max-height: 85vh;
  padding: var(--rs-space-5);
  z-index: 9999;
}

.close {
  position: absolute;
  top: var(--rs-space-3);
  right: var(--rs-space-3);
  width: var(--rs-space-7);
  height: var(--rs-space-7);
  border-radius: var(--rs-radius-2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--rs-color-foreground-base-secondary);
  cursor: pointer;
  border: none;
  background: transparent;
}

.close:hover {
  background-color: var(--rs-color-background-base-primary-hover);
  color: var(--rs-color-foreground-base-primary);
}
