.chip {
  display: inline-flex;
  align-items: center;
  gap: 0;
  font-size: 12px;
  height: 24px;
  background: var(--rs-color-background-base-primary);
  border: 1px solid var(--rs-color-border-base-tertiary);
  border-radius: var(--rs-radius-2);
  box-shadow: var(--rs-shadow-1);
  text-wrap: nowrap;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.4px;
  width: fit-content;
}

.chip > * {
  padding-left: var(--rs-space-3);
  padding-right: var(--rs-space-3);
}

.chip:hover {
  border-color: var(--rs-color-border-base-secondary);
}

.operation {
  font-size: 12px;
  background: transparent;
  margin-left: var(--rs-space-2);
  margin-right: var(--rs-space-2);
}

.operation [data-radix-select-trigger] {
  color: var(--rs-color-text-base-secondary);
}

.operation [data-radix-select-trigger] span {
  color: var(--rs-color-text-base-secondary);
}

/* Target any input fields within the chip */
.chip input {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  min-height: unset !important;
  padding: 0 !important;
}

/* Control height of Select items */
.chip [role="option"] {
  min-height: 24px !important;
  height: 24px !important;
}

/* Style for select triggers */
.chip [data-trigger] {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  min-height: unset !important;
  border-radius: var(--rs-radius-1);
  color: var(--rs-color-text-base-primary) !important;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}

.chip [data-trigger]:hover {
  background: var(--rs-color-background-base-hover) !important;
}

.value {
  color: var(--rs-color-text-base-primary);
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 16px;
  letter-spacing: 0.4px;
}

.removeButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--rs-color-text-base-tertiary);
  transition: color 0.2s ease;
}

.removeButton:hover {
  color: var(--rs-color-text-base-primary);
}

.removeIcon {
  cursor: pointer;
  color: var(--rs-color-text-base-primary);
  transition: color 0.2s ease-in-out;
  border: none !important;
  background: transparent !important;
  width: 12px !important;
  height: 12px !important;
  min-width: 12px !important;
  min-height: 12px !important;
}

.removeIcon:hover {
  color: var(--rs-color-text-base-primary);
}

/* Style for select value placeholder */
.chip [data-placeholder] {
  color: var(--rs-color-text-base-primary) !important;
}


.leadingIcon {
  display: flex;
  align-items: center;
  width: 12px;
  height: 12px;
  max-width: 12px;
  max-height: 12px;
}

