.chip {
  display: inline-flex;
  align-items: stretch;
  gap: 0;
  font-family: var(--rs-font-body);
  font-weight: var(--rs-font-weight-regular);
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
  height: 24px;
  background: var(--rs-color-background-base-primary);
  border: 1px solid var(--rs-color-border-base-tertiary);
  border-radius: var(--rs-radius-2);
  box-shadow: var(--rs-shadow-1);
  text-wrap: nowrap;
  width: fit-content;
}

.chip > * {
  padding-left: var(--rs-space-3);
  /* padding-right: var(--rs-space-1); */
}

.operation {
  font-family: var(--rs-font-body);
  font-weight: var(--rs-font-weight-regular);
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
  background: transparent;
  height: calc(100% - 2px);
  display: flex;
  align-items: center;
  margin-left: var(--rs-space-2);
}

.operation:hover {
  background: var(--rs-color-background-base-primary-hover);
}

.operationText {
  color: var(--rs-color-foreground-base-secondary);
  font-family: var(--rs-font-body);
  font-weight: var(--rs-font-weight-regular);
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
  padding: var(--rs-space-1) var(--rs-space-3);
  height: calc(100% - 2px);
  display: flex;
  align-items: center;
}

.operationText:hover {
  color: var(--rs-color-foreground-base-primary);
  background: var(--rs-color-background-base-primary-hover);
  height: calc(100% - 2px);
}

/* Target any input fields within the chip */
.chip input {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  min-height: unset !important;
  padding: 0 !important;
}

/* Control height of Select items */
.chip [role="option"] {
  min-height: 24px !important;
  height: 24px !important;
}

/* Style for select triggers */
.chip [data-trigger] {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  min-height: unset !important;
  border-radius: var(--rs-radius-1);
  color: var(--rs-color-foreground-base-primary) !important;
  font-family: var(--rs-font-body);
  font-weight: var(--rs-font-weight-regular);
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
}

.value {
  color: var(--rs-color-foreground-base-primary);
  font-size: var(--rs-font-size-small);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 16px;
  letter-spacing: 0.4px;
}

.removeIconContainer {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--rs-space-3);
  padding-right: var(--rs-space-3);
  margin: 0;
  border-top-right-radius: var(--rs-radius-2);
  border-bottom-right-radius: var(--rs-radius-2);
}

.removeIconContainer:hover {
  background: var(--rs-color-background-base-primary-hover);
}

.removeIcon {
  cursor: pointer;
  color: var(--rs-color-foreground-base-primary);
  transition: color 0.2s ease-in-out;
  width: 12px !important;
  height: 12px !important;
}

.removeIcon:hover {
  color: var(--rs-color-foreground-base-primary);
}

/* Style for select value placeholder */
.chip [data-placeholder] {
  color: var(--rs-color-foreground-base-primary) !important;
}

.selectValue {
  color: var(--rs-color-foreground-base-primary);
  font-family: var(--rs-font-body);
  font-weight: var(--rs-font-weight-regular);
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
  padding: var(--rs-space-1) var(--rs-space-2);
  height: calc(100% - 2px);
  display: flex;
  align-items: center;
  margin-left: 0;
}

.selectValue:hover {
  color: var(--rs-color-foreground-base-primary);
  background: var(--rs-color-background-base-primary-hover);
  height: calc(100% - 2px);
}

.leadingIcon {
  display: flex;
  align-items: center;
  width: 12px;
  height: 12px;
  max-width: 12px;
  max-height: 12px;
}

.textFieldWrapper {
  padding: 0 var(--rs-space-2);
  min-width: 60px;
}

.textField {
  border-radius: var(--rs-radius-1);
}

.textFieldWrapper input {
  padding-left: var(--rs-space-2) !important;
  padding-right: var(--rs-space-2) !important;
}

.dateFieldWrapper {
  padding: 0 var(--rs-space-2);
  min-width: 120px;
}

.dateField {
  border-radius: var(--rs-radius-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dateField input {
  text-align: left;
  padding-left: var(--rs-space-2) !important;
  padding-right: var(--rs-space-2) !important;
}

.dateField [data-trailing] {
  margin-left: auto;
}
