.dialogOverlay {
  background-color: var(--rs-color-overlay-base-primary);
  position: fixed;
  inset: 0;
  z-index: var(--rs-z-index-portal);
}

.dialogContent {
  background-color: var(--rs-color-background-base-primary);
  border-radius: var(--rs-radius-4);
  box-shadow: var(--rs-shadow-floating);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  min-width: 200px;
  min-height: 100px;
  max-height: 85vh;
  padding: 0;
  z-index: var(--rs-z-index-portal);
}

.dialogContent:focus {
  outline: none;
}

.close {
  all: unset;
  display: inline-flex;
  align-items: center;
  border-radius: var(--rs-radius-2);
  padding: var(--rs-space-2);
  font-weight: var(--rs-font-weight-medium);
  cursor: pointer;
}

.close:hover {
  background-color: var(--rs-color-background-base-primary-hover);
  color: var(--rs-color-foreground-base-primary);
}

.overlayBlur {
  backdrop-filter: var(--rs-blur-lg);
}

.dialogOverlay[data-state="open"] {
  animation: fadeIn 150ms cubic-bezier(0.22, 1, 0.36, 1);
}
.dialogOverlay[data-state="close"] {
  animation: fadeOut 150ms cubic-bezier(0.22, 1, 0.36, 1);
}

@media (prefers-reduced-motion: reduce) {
  .overlay {
    animation: none;
    transition: none;
  }
}

.header {
  padding: var(--rs-space-5) var(--rs-space-7);
  border-bottom: 1px solid var(--rs-color-border-base-primary);
}

.title {
  color: var(--rs-color-foreground-base-primary);
  /* Body/Large Plus */
  font-size: var(--rs-font-size-large);
  font-style: normal;
  font-weight: var(--rs-font-weight-medium);
  line-height: var(--rs-line-height-large);
  letter-spacing: var(--rs-letter-spacing-large);
  margin: 0;
}

.body {
  padding: var(--rs-space-7);
}

.body:has(+ .footer) {
  border-bottom: 1px solid var(--rs-color-border-base-primary);
}

.description {
  color: var(--rs-color-foreground-base-secondary);
  font-size: var(--rs-font-size-small);
  font-style: normal;
  font-weight: var(--rs-font-weight-regular);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
  margin: 0;
}

.footer {
  padding: var(--rs-space-5) var(--rs-space-7);
}
