.raystack-toast [data-sonner-toast] {
  background: var(--rs-background-base-primary);
  color: var(--rs-color-text-base-primary);
  border: 1px solid var(--rs-border-base-primary);
}

.toast-wrapper {
  margin-right: var(--rs-space-3);
}
