.chip {
  font-family: var(--rs-font-body);
  font-weight: var(--rs-font-weight-regular);
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
  height: 24px;
  background: var(--rs-color-background-base-primary);
  border-radius: var(--rs-radius-2);
  text-wrap: nowrap;
  width: fit-content;
}

.chip-default {
  border: 1px solid var(--rs-color-border-base-tertiary);
  box-shadow: var(--rs-shadow-feather);
}

.chip-label {
  padding: 0 var(--rs-space-3);
}
.operationText {
  color: var(--rs-color-foreground-base-secondary);
  font-family: var(--rs-font-body);
  font-weight: var(--rs-font-weight-regular);
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
  display: flex;
  align-items: center;
}

.operationText:hover {
  color: var(--rs-color-foreground-base-primary);
  background: var(--rs-color-background-base-primary-hover);
}

/* Target any input fields within the chip */
.chip input {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  min-height: unset !important;
  padding: 0 !important;
}

/* Control height of Select items */
.chip [role="option"] {
  min-height: 24px !important;
  height: 24px !important;
}

/* Style for select triggers */
.chip [data-trigger] {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  min-height: unset !important;
  border-radius: var(--rs-radius-1);
  color: var(--rs-color-foreground-base-primary) !important;
  font-family: var(--rs-font-body);
  font-weight: var(--rs-font-weight-regular);
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
}

.value {
  color: var(--rs-color-foreground-base-primary);
  font-size: var(--rs-font-size-small);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 16px;
  letter-spacing: 0.4px;
}

.removeIconContainer {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--rs-space-3);
  padding-right: var(--rs-space-3);
  margin: 0;
  border-top-right-radius: var(--rs-radius-2);
  border-bottom-right-radius: var(--rs-radius-2);
}

.removeIconContainer:hover {
  background: var(--rs-color-background-base-primary-hover);
}

.removeIcon {
  cursor: pointer;
  color: var(--rs-color-foreground-base-primary);
  transition: color 0.2s ease-in-out;
  width: 12px !important;
  height: 12px !important;
}

.removeIcon:hover {
  color: var(--rs-color-foreground-base-primary);
}

.selectValue {
  color: var(--rs-color-foreground-base-primary);
  font-family: var(--rs-font-body);
  font-weight: var(--rs-font-weight-regular);
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
  display: flex;
  align-items: center;
  background: transparent;
  height: 100%;
  min-height: auto;
  padding: var(--rs-space-2) var(--rs-space-3);
  border-radius: 0;
}

.selectValue * {
  font-weight: var(--rs-font-weight-regular) !important;
}

.operationValue {
  color: var(--rs-color-foreground-base-secondary);
}

button.selectValue:hover {
  color: var(--rs-color-foreground-base-primary);
  background: var(--rs-color-background-base-primary-hover);
}

.leadingIcon {
  display: flex;
  align-items: center;
  width: 12px;
  height: 12px;
  max-width: 12px;
  max-height: 12px;
}

.inputFieldWrapper {
  padding: 0 var(--rs-space-2);
  min-width: 60px;
}

.inputField {
  border-radius: var(--rs-radius-1);
  min-height: 18px;
  height: 18px;
}

/* Match height of InputField when FilterChip variant is text */
.chip[data-variant='text'] .inputField {
  border: none;
  box-shadow: none;
  height: 24px;
  min-height: 24px;
}

.inputFieldWrapper input {
  padding-left: var(--rs-space-2) !important;
  padding-right: var(--rs-space-2) !important;
}

.dateFieldWrapper {
  padding: 0 var(--rs-space-2);
  min-width: 120px;
}

.dateField {
  border-radius: var(--rs-radius-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 18px;
  min-height: 18px;
}

/* Remove border and match height of the DatePicker when FilterChip variant is text */
.chip[data-variant='text'] .dateField {
  border: none;
  box-shadow: none;
  height: 24px;
  min-height: 24px;
}

.dateField input {
  text-align: left;
  padding-left: var(--rs-space-2) !important;
  padding-right: var(--rs-space-2) !important;
}

.dateField [data-trailing] {
  margin-left: auto;
}
