.container {
  display: flex;
  flex-direction: column;
  gap: var(--rs-space-2);
  width: 100%;
}

.labelContainer {
  display: flex;
  align-items: center;
  gap: var(--rs-space-2);
}

.label {
  display: flex;
  align-items: center;
  gap: var(--rs-space-2);
  color: var(--rs-color-text-base-primary);
  font-size: 12px;
  font-weight: 500;
}

.helpIcon {
  color: var(--rs-color-text-base-secondary);
  display: flex;
  align-items: center;
}

.optional {
  color: var(--rs-color-text-base-tertiary);
  font-size: 12px;
}

.helperText {
  color: var(--rs-color-text-base-secondary);
  font-size: 12px;
}

.textarea {
  appearance: none;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  height: auto;
  width: 100%;
  min-height: 60px;
  
  background-color: var(--rs-color-background-base-primary);
  border: 0.5px solid var(--rs-color-border-base-tertiary);
  border-radius: var(--rs-radius-2);
  font-size: 12px;
  line-height: 16px;
  color: var(--rs-color-text-base-primary);
  padding: var(--rs-space-3);
  box-shadow: 0px 1px 2px #1018280F;
}

.textarea:focus {
  border: 1px solid var(--rs-color-border-accent-emphasis);
}

.textarea::placeholder {
  color: var(--rs-color-text-base-tertiary);
  font-size: 12px;
}

.textarea:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
  background-color: var(--rs-color-background-base-secondary);
}

.textarea:read-only {
  background-color: var(--rs-color-background-base-secondary);
}
  