.textarea {
    appearance: none;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
    height: auto;
    width: 100%;
  
    min-height: 60px;
    background-color: var(--background-base);
    border: 0.5px solid var(--border-base);
    box-shadow: var(--shadow-xs);
    border-radius: var(--br-4);
    font-size: 12px;
    color: var(--foreground-base);
    padding: var(--pd-4);
  }
  
  .textarea:-webkit-autofill {
    box-shadow: var(--shadow-xs);
  }
  
  .textarea:focus {
    border: 1px solid var(--background-accent-inverted);
  }
  
  .textarea::placeholder {
    color: var(--foreground-subtle);
    font-size: 12px;
    line-height: 16px;
  }
  
  .textarea:disabled {
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
  }
  
  .textarea:read-only {
    background-color: var(--background-base);
  }
  
  .textarea-sm {
    border-radius: var(--br-4);
    font-size: 12px;
    line-height: 16px;
    padding: var(--pd-4);
  }
  
  .textarea-md {
    border-radius: var(--br-4);
    font-size: 13px;
    line-height: 16px;
    padding: var(--pd-8);
  }
  
  .textarea-invlid {
    border: 1px solid var(--border-danger);
  }
  .textarea-invlid:focus {
    border: 1px solid var(--border-danger);
  }
  
  .textarea-valid {
    border: 1px solid var(--border-success);
  }
  
  .textarea-valid:focus {
    border: 1px solid var(--border-success);
  }
  
  .textarea-leading {
    padding-left: 32px;
  }
  