.emptyState {
  padding: var(--rs-space-9) var(--rs-space-5);
  width: 100%;
  height: 100%;
  text-align: center;
}

.iconContainer {
  position: relative;
  z-index: 2;
  margin-top: 18px;
}

.icon {
  height: 32px;
  width: 32px;
  padding: var(--rs-space-3);
  box-sizing: content-box;
  border: 1px solid var(--rs-color-border-base-primary);
  background-color: var(--rs-color-background-base-secondary);
  border-radius: var(--rs-radius-4);
  color: var(--rs-color-foreground-base-secondary);
  box-shadow: var(--rs-shadow-soft);
}

.icon svg {
  border-color: currentColor;
  height: 100%;
  width: 100%;
}

.icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: -10px;
  left: calc(50% - 15px);
  border: inherit;
  border-radius: inherit;
  background-color: inherit;
  z-index: -10;
  transform: rotate(-42deg);
  /* box-shadow: var(--rs-shadow-inset); */
}

.headerText {
  color: var(--rs-color-foreground-base-primary);
  font-size: var(--rs-font-size-large);
  font-style: normal;
  font-weight: var(--rs-font-weight-medium);
  line-height: var(--rs-line-height-large);
  letter-spacing: var(--rs-letter-spacing-large);
  text-wrap: wrap;
  max-width: 360px;
}

.subHeaderText {
  color: var(--rs-color-foreground-base-primary);
  font-size: var(--rs-font-size-regular);
  font-style: normal;
  font-weight: var(--rs-font-weight-regular);
  line-height: var(--rs-line-height-regular);
  letter-spacing: var(--rs-letter-spacing-regular);
  text-wrap: wrap;
  max-width: 360px;
}

/* Empty2 */

.emptyStateContent {
  width: 366px;
  text-align: left;
}

.emptyStateContent .headerText {
  max-width: 366px;
}

.emptyStateContent .subHeaderText {
  max-width: 366px;
}

.emptyStateLeft {
  padding: var(--rs-space-9) var(--rs-space-5);
  width: 100%;
  height: 100%;
  text-align: left;
}

.iconLarge {
  height: 68px;
  width: 68px;
}

.iconLarge svg {
  height: 100%;
  width: 100%;
  border-color: currentColor;
  padding: var(--rs-space-4);
}

.actionContainer {
  display: flex;
  gap: var(--rs-space-3);
}

.emptyStatePage {
  width: 100%;
  height: 100%;
  padding: var(--rs-space-9) var(--rs-space-5);
}
