.text {
  display: inline-flex;
  align-items: center;
  line-height: 1;
  margin: 0;
  color: var(--rs-color-foreground-base-primary);
  font-family: var(--rs-font-body);
}

.text-1 {
  font-size: var(--rs-font-size-mini);
  line-height: var(--rs-line-height-mini);
  letter-spacing: var(--rs-letter-spacing-mini);
}
.text-2 {
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
}
.text-3 {
  font-size: 13px;
  line-height: var(--rs-line-height-mini);
  letter-spacing: var(--rs-letter-spacing-small);
}
.text-4 {
  font-size: var(--rs-font-size-regular);
  line-height: var(--rs-line-height-regular);
  letter-spacing: var(--rs-letter-spacing-regular);
}
.text-5 {
  font-size: var(--rs-font-size-large);
  line-height: var(--rs-line-height-large);
  letter-spacing: var(--rs-letter-spacing-large);
}
.text-6 {
  font-size: 18px;
  line-height: var(--rs-line-height-regular);
  letter-spacing: var(--rs-letter-spacing-regular);
}
.text-7 {
  font-size: 20px;
  line-height: var(--rs-line-height-large);
  letter-spacing: var(--rs-letter-spacing-large);
}
.text-8 {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: var(--rs-letter-spacing-large);
}
.text-9 {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: var(--rs-letter-spacing-large);
}
.text-10 {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: var(--rs-letter-spacing-large);
}

.text-weight-bold {
  font-weight: bold;
}

.text-weight-bolder {
  font-weight: bolder;
}

.text-weight-normal {
  font-weight: normal;
}

.text-weight-lighter {
  font-weight: lighter;
}

.text-weight-100 {
  font-weight: 100;
}

.text-weight-200 {
  font-weight: 200;
}

.text-weight-300 {
  font-weight: 300;
}

.text-weight-400 {
  font-weight: var(--rs-font-weight-regular);
}

.text-weight-500 {
  font-weight: var(--rs-font-weight-medium);;
}

.text-weight-600 {
  font-weight: 600;
}

.text-weight-700 {
  font-weight: 700;
}

.text-weight-800 {
  font-weight: 800;
}

.text-weight-900 {
  font-weight: 900;
}

.text-primary {
  color: var(--rs-color-foreground-base-primary);
}

.text-secondary {
  color: var(--rs-color-foreground-base-secondary);
}

.text-tertiary {
  color: var(--rs-color-foreground-base-tertiary);
}

.text-emphasis {
  color: var(--rs-color-foreground-base-emphasis);
}

.text-accent {
  color: var(--rs-color-foreground-accent-primary);
}

.text-attention {
  color: var(--rs-color-foreground-attention-primary);
}

.text-danger {
  color: var(--rs-color-foreground-danger-primary);
}

.text-success {
  color: var(--rs-color-foreground-success-primary);
}
