.text {
  display: block;
  line-height: 1;
  margin: 0;
  color: var(--rs-color-text-base-primary);
}

.text-1 {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.5px;
}
.text-2 {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}
.text-3 {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.4px;
}
.text-4 {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}
.text-5 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.text-6 {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.25px;
}
.text-7 {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.text-8 {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.5px;
}
.text-9 {
  font-size: 24px;
  line-height: 32px;
}
.text-10 {
  font-size: 28px;
  line-height: 36px;
}

.text-weight-bold {
  font-weight: bold;
}

.text-weight-bolder {
  font-weight: bolder;
}

.text-weight-normal {
  font-weight: normal;
}

.text-weight-lighter {
  font-weight: lighter;
}

.text-weight-100 {
  font-weight: 100;
}

.text-weight-200 {
  font-weight: 200;
}

.text-weight-300 {
  font-weight: 300;
}

.text-weight-400 {
  font-weight: 400;
}

.text-weight-500 {
  font-weight: 500;
}

.text-weight-600 {
  font-weight: 600;
}

.text-weight-700 {
  font-weight: 700;
}

.text-weight-800 {
  font-weight: 800;
}

.text-weight-900 {
  font-weight: 900;
}

.text-primary {
  color: var(--rs-color-text-base-primary);
}

.text-secondary {
  color: var(--rs-color-text-base-secondary);
}

.text-tertiary {
  color: var(--rs-color-text-base-tertiary);
}

.text-emphasis {
  color: var(--rs-color-text-base-emphasis);
}

.text-accent {
  color: var(--rs-color-text-accent-primary);
}

.text-attention {
  color: var(--rs-color-text-attention-primary);
}

.text-danger {
  color: var(--rs-color-text-danger-primary);
}

.text-success {
  color: var(--rs-color-text-success-primary);
}
