.text {
  margin: 0;
  color: var(--rs-color-foreground-base-primary);
  font-family: var(--rs-font-body);
}

/* Text Size */
.text-micro {
  font-size: var(--rs-font-size-micro);
  line-height: var(--rs-line-height-micro);
  letter-spacing: var(--rs-letter-spacing-micro);
}
.text-mini {
  font-size: var(--rs-font-size-mini);
  line-height: var(--rs-line-height-mini);
  letter-spacing: var(--rs-letter-spacing-mini);
}
.text-small {
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  letter-spacing: var(--rs-letter-spacing-small);
}
.text-regular {
  font-size: var(--rs-font-size-regular);
  line-height: var(--rs-line-height-regular);
  letter-spacing: var(--rs-letter-spacing-regular);
}
.text-large {
  font-size: var(--rs-font-size-large);
  line-height: var(--rs-line-height-large);
  letter-spacing: var(--rs-letter-spacing-large);
}

/* Text Weight */
.text-weight-regular {
  font-weight: var(--rs-font-weight-regular);
}
.text-weight-medium {
  font-weight: var(--rs-font-weight-medium);
}

/* Text Variant */
.text-primary {
  color: var(--rs-color-foreground-base-primary);
}

.text-secondary {
  color: var(--rs-color-foreground-base-secondary);
}

.text-tertiary {
  color: var(--rs-color-foreground-base-tertiary);
}

.text-emphasis {
  color: var(--rs-color-foreground-base-emphasis);
}

.text-accent {
  color: var(--rs-color-foreground-accent-primary);
}

.text-attention {
  color: var(--rs-color-foreground-attention-primary);
}

.text-danger {
  color: var(--rs-color-foreground-danger-primary);
}

.text-success {
  color: var(--rs-color-foreground-success-primary);
}

/* Text Transform */
.text-transform-capitalize {
  text-transform: capitalize;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.text-transform-lowercase {
  text-transform: lowercase;
}

/* Text Alignment */
.text-align-center {
  text-align: center;
}

.text-align-start {
  text-align: start;
}

.text-align-end {
  text-align: end;
}

.text-align-justify {
  text-align: justify;
}
