.container {
  display: flex;
  flex-direction: column;
  border-radius: var(--rs-radius-2, 4px);
  overflow: hidden;
  border: 1px solid var(--rs-color-border-base-primary);
  width: 100%;
}

.previewContainer {
  min-height: 368px;
  display: flex;
  width: 100%;
}

.preview {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 368px;
  min-width: 0;
  border-bottom: 0.5px solid var(--rs-color-border-base-primary);
}

.previewReset {
  position: absolute;
  bottom: 8px;
  right: 8px;
  padding: var(--rs-space-1, 2px);
  width: var(--rs-space-5, 16px);
  height: var(--rs-space-5, 16px);
  border-radius: var(--rs-radius-1, 2px);
}

.form {
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: var(--rs-space-6, 20px);
  padding: var(--rs-space-5, 16px);
  border-bottom: 0.5px solid var(--rs-color-border-base-primary);
  border-left: 0.5px solid var(--rs-color-border-base-primary);
  background-color: var(--rs-color-background-base-primary);
  overflow-x: hidden;
  overflow-y: auto;
  flex-shrink: 0;
  max-height: 400px;
}
.noShadow {
  box-shadow: none;
}

.controlField {
  display: flex;
  flex-direction: column;
  gap: var(--rs-space-2, 4px);
  width: 100%;
}

.controlSection {
  display: flex;
  flex-direction: column;
  gap: var(--rs-space-5, 16px);
  padding: var(--rs-space-3, 8px);
  background-color: var(--rs-color-background-base-secondary);
  border: 0.5px solid var(--rs-color-border-base-primary);
  border-radius: var(--rs-radius-2, 4px);
  width: 100%;
}

.controlHeader {
  width: 100%;
}

.selectLabel {
  margin-bottom: var(--rs-space-2, 4px);
}

.inputLabel {
  font-weight: var(--rs-font-weight-medium);
}

.selectTrigger {
  width: 100%;
  border: 1px solid var(--rs-color-border-base-tertiary);
  padding: var(--rs-space-2) var(--rs-space-3);
}

.iconContainer {
  width: 100%;
  justify-content: space-between;
}

.iconButton {
  padding: var(--rs-space-1, 2px);
  border-radius: var(--rs-radius-1, 2px);
  width: 20px;
  height: 20px;
}

.iconButton.active {
  border-color: var(--rs-color-background-accent-emphasis);
}

.tabs {
  display: flex;
  border-bottom: 0.5px solid var(--rs-color-border-base-primary);
  background-color: var(--rs-color-background-base-secondary);
}

.tab {
  background: none;
  border: none;
  padding: var(--rs-space-3) var(--rs-space-4);
  cursor: pointer;
  color: var(--rs-color-foreground-base-secondary);
  transition:
    color 0.2s ease-in-out,
    border-bottom 0.2s ease-in-out;
  border-bottom: 0.5px solid transparent;
  font-size: var(--rs-font-size-small);
  letter-spacing: var(--rs-letter-spacing-small);
  line-height: var(--rs-line-height-small);
}

.activeTab {
  color: var(--rs-color-foreground-base-primary);
  border-bottom: 0.5px solid var(--rs-color-background-accent-emphasis);
}

.codeTabGroup {
  border-radius: 0;
  margin: 0;
  border-bottom: none;
  border-right: none;
  border-left: none;
  padding: 0;
}

.codeTab {
  border-radius: 0;
  padding: 0;
}

@media (max-width: 920px) {
  .previewContainer {
    flex-direction: column;
  }
  .form {
    width: 100%;
    max-height: 280px;
    border-top: 0.5px solid var(--rs-color-border-base-primary);
    border-left: none;
  }
}
