.container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid hsl(var(--fd-border) / 1);
}

.previewContainer {
  min-height: 160px;
  display: flex;
  width: 100%;
}
.preview {
  flex: 3;
  position: relative;
  background-color: hsl(var(--color-fd-background) / 1);
}
.previewReset {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  column-gap: 40px;
  row-gap: 16px;
  font-size: 14px;
  padding: 20px;
  border-left: 1px solid hsl(var(--fd-border) / 1);
  max-height: 400px;
  overflow: auto;
  min-width: 240px;
  background: hsl(var(--fd-secondary) / 0.5);
}

.label {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  width: 100%;
}
.label:has(input[type="checkbox"]) {
  flex-direction: row-reverse;
  gap: 8px;
  /* margin-left: 20px; */
  width: max-content;
  height: max-content;
}

.input,
.select,
.iconButton {
  padding: 4px 6px;
  border: 1px solid hsl(var(--fd-border) / 1);
  background-color: hsl(var(--fd-background) / 1);
  border-radius: 6px;
}

.input:focus,
.select:focus {
  border-color: #007bff;
  outline: none;
}
.tabs {
  display: flex;
  border-bottom: 1px solid hsl(var(--fd-border) / 1);
  background-color: hsl(var(--fd-muted) / 1);
}

.tab {
  background: none;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: hsl(var(--fd-muted-foreground) / 1);
  transition: color 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
  border-bottom: 1px solid transparent;
}

.activeTab {
  color: hsl(var(--fd-foreground) / 1);
  border-bottom: 1px solid var(--rs-color-background-accent-emphasis);
}
.iconContainer {
  display: flex;
  gap: 12px;
  align-items: center;
}
.iconButton {
  padding: 6px;
}
.iconButton.active {
  border-color: var(--rs-color-background-accent-emphasis);
}
@media (max-width: 920px) {
  .previewContainer {
    flex-direction: column;
  }
  .form {
    max-height: 280px;
    border-top: 1px solid hsl(var(--fd-border) / 1);
    border-left: none;
  }
}
