.calendarRoot {
  padding: var(--pd-16);
  border-radius: var(--br-8);
  border: 1px solid var(--border-base);
  background: var(--background-base);
}

.caption_label,
.dropdowns > span,
.dropdown_trigger .dropdown_item_text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  font-weight: 500;
  color: var(--foreground-base);
  user-select: none;
  font-family: var(--ff-inter);
}

.caption_label[aria-hidden="true"] {
  display: none;
}

.nav_button {
  position: absolute;
  top: 0;
  border: 0px;
  color: var(--foreground-base);
  background: var(--background-base);
  cursor: pointer;
  height: 20px;
}

.nav_button_previous {
  left: 0;
}

.nav_button_next {
  right: 0;
}

.months {
  display: flex;
  gap: var(--pd-8);
  position: relative;
}

.nav {
  position: absolute;
  width: 100%;
}

.month_caption {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;
  margin: 0 auto var(--mr-12) auto;
}

.day {
  width: 36px;
  height: 36px;
  background-color: var(--background-base);
  border-radius: var(--br-4);
  color: var(--foreground-base);
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.day:hover {
  background-color: var(--background-base-hover);
}

.day[aria-selected="true"]:not(.range_middle) {
  background-color: var(--background-highlight);

  button {
    color: var(--foreground-inverted);
  }
}

.range_middle {
  border-radius: 0;
  background-color: var(--background-base-hover);
  button {
    color: var(--foreground-base);
  }
}

.range_start:not(.range_end) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.range_end:not(.range_start) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.week {
  display: flex;
}

.day_button {
  cursor: pointer;
  border: none;
  width: 100%;
  height: 100%;
  padding: unset;
  display: grid;
  place-content: center;
  background: inherit;
  color: inherit;
  font-weight: inherit;
  border-radius: inherit;
}

.outside {
  color: var(--foreground-subtle);
}

.today {
  font-weight: 600;
}

.range_start,
.range_end {
  color: var(--foreground-inverted);
}

.weekday {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  color: var(--foreground-base);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}

.hidden {
  visibility: hidden;
}

.calendarPopover {
  padding: 0;
  border: none;
  min-width: max-content;
}

.datePickerInput {
  cursor: pointer;
}

.dropdowns {
  display: flex;
  align-items: center;
  gap: var(--pd-4);
}

.dropdown_trigger,
.dropdown_trigger:focus {
  border: none;
  outline: none;
  box-shadow: none;
  padding: var(--pd-2);
}

.dropdown_trigger:hover {
  background-color: var(--background-base-hover);
}

.dropdown_icon {
  margin-left: var(--mr-4);
}

.dropdown_content {
  max-height: 400px;
  border: 1px solid var(--border-base);
}
