.container {
  display: flex;
  flex-direction: column;
  gap: var(--rs-space-1);
  width: 100%;
  position: relative;
}

.labelContainer {
  display: flex;
  align-items: center;
}

.label {
  color: var(--rs-color-foreground-base-secondary);
  font-family: var(--rs-font-body);
  font-weight: var(--rs-font-weight-medium);
  font-size: var(--rs-font-size-mini);
  line-height: var(--rs-line-height-mini);
  letter-spacing: var(--rs-letter-spacing-mini);
}

.helpIcon {
  color: var(--rs-color-foreground-base-secondary);
  display: flex;
  align-items: center;
  margin-left: var(--rs-space-2);
  width: 12px;
  height: 12px;
}

.optional {
  color: var(--rs-color-foreground-base-tertiary);
  font-family: var(--rs-font-body);
  font-weight: var(--rs-font-weight-regular);
  font-size: var(--rs-font-size-mini);
  line-height: var(--rs-line-height-mini);
  letter-spacing: var(--rs-letter-spacing-mini);
  margin-left: var(--rs-space-1);
}

.helperText {
  color: var(--rs-color-foreground-base-secondary);
  font-family: var(--rs-font-body);
  font-weight: var(--rs-font-weight-regular);
  font-size: var(--rs-font-size-mini);
  line-height: var(--rs-line-height-mini);
  letter-spacing: var(--rs-letter-spacing-mini);
}

.textarea {
  appearance: none;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  height: auto;
  width: 100%;
  min-height: 64px;
  background-color: var(--rs-color-background-base-primary);
  border: 1px solid var(--rs-color-border-base-primary);
  border-radius: var(--rs-radius-2);
  font-size: var(--rs-font-size-small);
  line-height: var(--rs-line-height-small);
  color: var(--rs-color-foreground-base-primary);
  padding: var(--rs-space-3);
  font-family: inherit;
  transition: all 0.2s ease;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.textarea:hover {
  border-color: var(--rs-color-border-base-focus);
  background: var(--rs-color-background-base-primary);
}

.textarea:focus {
  border-color: var(--rs-color-border-accent-emphasis);
  background: var(--rs-color-background-base-primary);
  outline: none;
  box-shadow: 0 0 0 2px rgba(var(--rs-color-border-accent-emphasis), 0.2);
}

.textarea::placeholder {
  color: var(--rs-color-foreground-base-tertiary);
  font-size: var(--rs-font-size-small);
  font-weight: var(--rs-font-weight-regular);
  line-height: var(--rs-line-height-small);
  font-family: inherit;
}

.textarea:disabled {
  background: var(--rs-color-background-base-primary);
  border-color: var(--rs-color-border-base-tertiary);
  color: var(--rs-color-foreground-base-tertiary);
  cursor: not-allowed;
  opacity: 0.4;
}

.textarea:read-only {
  background-color: var(--rs-color-background-base-secondary);
}

.error {
  border-color: var(--rs-color-border-danger-primary);
}

.error:hover {
  border-color: var(--rs-color-border-danger-emphasis-hover);
}

.error:focus {
  border-color: var(--rs-color-border-danger-emphasis-hover);
  box-shadow: 0 0 0 2px rgba(var(--rs-color-border-danger-primary), 0.2);
}

.helperTextError {
  color: var(--rs-color-foreground-danger-primary);
}

.helperTextDisabled {
  color: var(--rs-color-foreground-base-tertiary);
}
  