.editor {
  border-radius: var(--br-8),
}

.details {
  transition: all 0.2s ease;
  overflow: hidden;
  font-size: 14px;
  color: var(--clr-fg-base);
  cursor: pointer;
}

.summary {
  box-sizing: border-box;
  border-top: 1px solid var(--clr-border-base);
  color: var(--clr-fg-base);
  width: 100%;
  list-style: none;
  user-select: none;
  outline: none;
  cursor: pointer;
  background-color: var(--clr-bg-base);
  margin-top: var(--pd-8) ;
}

.actionContainer {
  
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--pd-4);
}

.action {
  width: auto;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  line-height: 24px;
}