.editor {
  border-top: 1px solid hsl(var(--fd-border) / 1);
}
.editor pre {
  overflow: auto !important;
}
.editor figure {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border: none !important;
}
.editor [data-radix-scroll-area-viewport] {
  overscroll-behavior: auto;
}
