.editor {
}
.editor pre {
  overflow: auto !important;
}
.editor figure {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border: none !important;
}
.editor [data-radix-scroll-area-viewport] {
  overscroll-behavior: auto;
}
.code {
  padding-left: var(--rs-space-3);
  padding-bottom: var(--rs-space-6);
}
