.slider {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 80px;
  height: var(--rs-space-8);
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
  padding: 0;
}

.control {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.track {
  position: relative;
  flex-grow: 1;
  height: var(--rs-space-2);
  background-color: var(--rs-color-background-neutral-secondary);
  margin: 0 var(--rs-space-4);
  border-radius: var(--rs-radius-full);
}

.indicator {
  position: absolute;
  height: 100%;
  background-color: var(--rs-color-background-accent-emphasis);
  border-radius: var(--rs-radius-full);
}

.thumb {
  position: absolute;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.thumb:active {
  cursor: grabbing;
  outline: none;
}

.thumb:focus-visible {
  outline: none;
}

.thumb:hover {
  border-color: var(--rs-color-border-accent-emphasis-hover);
}

.thumbLarge {
  width: 24px;
  height: 20px;
  position: relative;
  background-color: var(--rs-color-background-base-primary);
  border: 0.5px solid var(--rs-color-border-base-tertiary);
  border-radius: var(--rs-radius-2);
  box-shadow: var(--rs-shadow-soft);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.thumbLargeLine {
  width: 1px;
  height: 6px;
  background-color: var(--rs-color-border-base-tertiary);
  border-radius: var(--rs-radius-1);
}

.thumbSmall {
  width: 8px;
  height: 16px;
  border-radius: var(--rs-radius-full);
  background-color: var(--rs-color-background-base-primary);
  border: 0.5px solid var(--rs-color-border-base-tertiary);
  box-shadow: var(--rs-shadow-soft);
}

.thumb:hover .thumbLarge,
.thumb:hover .thumbSmall {
  background-color: var(--rs-color-background-base-secondary);
}

.label {
  position: absolute;
  top: calc(-1 * (var(--rs-space-8) + 1px));
  left: 50%;
  padding: var(--rs-space-2);
  color: var(--rs-color-foreground-base-primary);
  background-color: var(--rs-color-background-base-primary);
  border: 0.5px solid var(--rs-color-border-base-primary);
  border-radius: var(--rs-radius-2);
  transform: translateX(-50%);
  white-space: nowrap;
  box-shadow: var(--rs-shadow-soft);
}

.thumb[data-size="small"] .label {
  top: calc(-1 * (var(--rs-space-7)));
}

.slider-variant-single .indicator {
  left: 0;
}
