.container {
  box-sizing: border-box;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--rs-space-5);
  padding-right: var(--rs-space-5);
}

.container-small {
  max-width: 430px;
}

.container-medium {
  max-width: 715px;
}

.container-large {
  max-width: 1145px;
}

.container-none {
  max-width: none;
} 